<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Goods Expected</h1>
                </div>
            <div class="p-col-12 mt-3"> 
                <p-table [value]="goodsList" #Search [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                [globalFilterFields]="['sSupName','sRequisionNo','sPONo','sPrdName','iQty']">
                <ng-template pTemplate="caption">
                    <div class="ui-table-globalfilter-container text-left">
                        <input type="text" pInputText size="50" placeholder="Search"
                            (input)="Search.filterGlobal($event.target.value, 'contains')"
                            style="width:250px;">
                    </div>
                </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Supplier Name</th>
                            <th>Requisition No.</th>
                            <th>Purchase Order No.</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Pending Quantity</th>
                            <th>Scheduled Date</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-goodsList>
                        <tr>
                            <td>{{goodsList.sSupName}}</td>
                            <td>{{goodsList.sRequisionNo}}</td>
                            <td>{{goodsList.sPONo}}</td>
                            <td>{{goodsList.sPrdName}}</td>
                            <td>{{goodsList.iQty}}</td>
                            <td>{{goodsList.iPendingQty}}</td>
                            <td><span *ngIf="goodsList.sScheduledDate != '0000-00-00' && goodsList.sScheduledDate != ''">
                                {{goodsList.sScheduledDate | date: 'dd-MM-yyyy'}}</span></td>
                            <td>
                                <button pButton type="button" class="ui-button-success" label="GRN" (click)="grnClick(goodsList)" ></button>
                            </td>
                            
                        </tr>
                    </ng-template>
                </p-table>
            
            </div>              
        </div> 

                                
        </div>
    </div>
</div>
