<div class="container">
    <div class="p-grid">
        <div class="p-col-12">
                <p-fileUpload name="demo[]"  customUpload="true" (uploadHandler)="onUpload($event)" accept="image/*"  maxFileSize="1000000">
                    <ng-template pTemplate="content">
                
                            <li *ngIf="uploadedFiles.length">{{uploadedFiles.name}} - {{uploadedFiles.size}}</li>
                        
                    </ng-template>
                </p-fileUpload>
                
        
           
        </div>
    </div>
</div>
