<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Supplier Mapping</h1> 
        <div class="p-grid ui-fluid">
            <div class="p-col-8"> 
            <div class="p-grid">
                <div class="p-col-12 p-lg-12">
                    <div class="p-grid">  
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Product Category : <strong>Food</strong></div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Product : <strong>Gluten Free Wheat 5kg Pack</strong></div>
                        </div>
                        
                    </div>  
                </div>

                <div class="p-col-12">
                    <p-table [value]="requDetail">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Requisition No.</th>
                                <th>Partner</th>
                                <th>Location</th>
                                <th>Quantity</th>
                                <!-- <th>Unit</th> -->
                                <th>Created By</th>
                                <th>Created Date</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-requDetail>
                            <tr>
                                <td>{{requDetail.reuNo}}</td>
                                <td>{{requDetail.partner}}</td>
                                <td>{{requDetail.location}}</td>
                                <td>{{requDetail.qty}}</td>
                                <!-- <td>{{requDetail.unit}}</td> -->
                                <td>{{requDetail.createdBy}}</td>
                                <td>{{requDetail.createdDate}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="3"><b>Totals</b></td>
                                <td colspan="3"><b>150</b></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            </div>

            <div class="p-col-4">
                <div class="p-grid">
                    <div class="p-col-12">
                <div class="card download-files p-3 mb-2">
                    <div class="p-grid p-nogutter">
                        <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <p-table [value]="suppRate">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Supplier</th>
                                            <th>Rate</th>
                                            <th style="width: 3em;"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-suppRate>
                                        <tr>
                                            
                                            <td>{{suppRate.supplier}}</td>
                                            <td>{{suppRate.rate}}</td>
                                            <td><p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        
                            <div class="p-col-12 p-md-12 p-lg-12">
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                        <label for="partner">Discount %</label>
                                        <input id="qty"  type="text" pInputText placeholder="5%">
                                    </div>
                                    
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                        <label for="location">Discount Amount</label>
                                        <input id="qty"  type="text" pInputText placeholder="15" disabled>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                        <label for="qty">Amount / Each</label>
                                        <input id="qty"  type="text" pInputText placeholder="235" disabled>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                        <label for="qty">Total Amount </label>
                                        <input id="qty"  type="text" pInputText placeholder="35250" disabled>
                                    </div>
                                </div>
                            </div>
                    

                            <div class="p-col-12 p-md-2 p-lg-12">
                                <div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-0"></div>
                            </div>
                    
                                    <div class="p-col-12 p-md-2 p-lg-12 text-right mt-0">
                                        <button pButton type="button" label="Cancel" routerLink="/purchase-order/product-requisition"
                                        class="ui-button-light atbt mr-2 mb-2"></button>
                                    <button pButton type="submit" label="Save" class="ui-button atbt mb-2"></button>
                                </div>

                    </div>
                </div>
            </div>
            
        </div>
        

            </div>



                    
        </div>                     
  
        </div>
    </div>
  </div>  
    
    
