<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Supplier Mapping</h1> 
        <div class="p-grid ui-fluid">
            <div class="p-col-8"> 
            <div class="p-grid">
                <div class="p-col-12 p-lg-12">
                    <div class="p-grid">  
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Product Category : <strong>{{productCategory}}</strong></div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Product : <strong>{{productName}} {{productVariant}} {{productUnit}}</strong></div>
                        </div>
                    </div>
                </div>

                <div class="p-col-12">
                    <p-table [value]="requisitionDatails">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Requisition No.</th>
                                <th>Partner</th>
                                <th>Location</th>
                                <th>Quantity</th>
                                <!-- <th>Unit</th> -->
                                <th>Created By</th>
                                <th>Created Date</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-requDetail>
                            <tr>
                                <td>{{requDetail.sRequisionNo}}</td>
                                <td>{{requDetail.sPartnerName}}</td>
                                <td>{{requDetail.sLocName}}</td>
                                <td>{{requDetail.iQty}}</td>
                                <!-- <td>{{requDetail.unit}}</td> -->
                                <td>{{requDetail.sCreatedBy}}</td>
                                <td>{{requDetail.sCreatedDate | date:"dd-MM-yyyy"}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="3"><b>Total</b></td>
                                <td colspan="3"><b>{{totalquantity}}</b></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            </div>

            <div class="p-col-4">
                <div class="p-grid">
                    <div class="p-col-12">
                <div class="card download-files p-3 mb-2">
                    <div class="p-grid p-nogutter">
                        <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <p-table [value]="supplierRate">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Supplier</th>
                                            <th>Rate</th>
                                            <th style="width: 3em;"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-suppRate>
                                        <tr>
                                            
                                            <td>{{suppRate.sSupName}}</td>
                                            <td>{{suppRate.iPurchaseAmt}}</td>
                                            <td><p-checkbox name="groupname" value={{suppRate.iSupID}} [(ngModel)]="selectedValues" (onChange)="checkBoxValidation(suppRate)" (click)="productRequisitionForm.reset()"></p-checkbox></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        
                            <div class="p-col-12 p-md-12 p-lg-12">
                                <form #productRequisitionForm="ngForm">
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                        <label for="partner">Discount %</label>
                                        <input id="discountPercentage" [disabled]="isDisableDiscount" name="discountPercentage" #discountPercentage="ngModel" [(ngModel)]="discountPer"
                                         type="text" pInputText (change)="calculateTotalPrice()" required>
                                        <p-message severity="error" text="This Field is required"
                        *ngIf="!discountPercentage.valid && (discountPercentage.dirty || discountPercentage.touched)"></p-message>
                                    </div>
                                    
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                        <label for="location">Discount Amount</label>
                                        <input id="discountAmount" name="discountAmount" [(ngModel)]="discountAmount" type="text" pInputText disabled>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                        <label for="qty">Amount per Qty.</label>
                                        <input id="discountAmountEach" name="discountAmountEach" [(ngModel)]="discountAmountEach" type="text" pInputText  disabled>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                        <label for="qty">Total Amount for {{totalquantity}} Qty.</label>
                                        <input id="totalAmount" name="totalAmount" [(ngModel)]="totalAmount" type="text" pInputText  disabled>
                                    </div>
                                </div>
                                </form>
                            </div>

                            <div class="p-col-12 p-md-2 p-lg-12">
                                <div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-0"></div>
                            </div>
                    
                                    <div class="p-col-12 p-md-2 p-lg-12 text-right mt-0">
                                        <button pButton type="button" label="Cancel" routerLink="/purchase-order/product-requisition" class="ui-button-light atbt mr-2 mb-2"></button>
                                    <button pButton type="submit" [disabled]="isDisable || productRequisitionForm.untouched || productRequisitionForm.invalid" label="Save" class="ui-button atbt mb-2" (click)="saveProductRequisition()"></button>
                                </div>

                    </div>




                </div>

            </div>
        </div>
    </div>