<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Order Allocation</h1>
                </div>
                <p-tabView>
                    <p-tabPanel header="Customer">

                        <div class="p-grid ui-fluid vertical-container">
                            <!-- <div class="p-col p-md-4 p-lg-3 p-col-align-start">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText placeholder="search....">   
                                <button pButton type="button" icon="pi pi-search" class="ui-button-warn"></button>  
                            </div>
                        </div>    -->
                            <div class="p-col-12 mt-3">

                                <p-table [columns]="cols" #search [value]="customerAllocData" dataKey="iSOID"
                                    [paginator]="false" [rows]="10" [totalRecords]="customerAllocData.length"
                                    [globalFilterFields]="['sSONo','sCustomerName','sAddress']"
                                    [showCurrentPageReport]="true" rowExpandMode="single" (onRowExpand)="onRowExpand()"
                                    (onRowCollapse)="onRowCollapse()" [expandedRowKeys]="expandedRows">
                                    <ng-template pTemplate="caption">
                                        <div class="ui-table-globalfilter-container text-left">
                                            <input type="text" pInputText size="50" placeholder="Search"
                                                (input)="search.filterGlobal($event.target.value,'contains')"
                                                style="width: 250px;" />
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th style="width: 3em">
                                                <a style="cursor: pointer;font-size: 16px; color:teal;"
                                                    (click)="expandAll()"><i *ngIf="!isExpanded"
                                                        class="fa fa-plus-circle" aria-hidden="true"></i>
                                                    <i *ngIf="isExpanded" class="fa fa-minus-circle"
                                                        aria-hidden="true"></i></a>
                                            </th>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>
                                            <th>Location</th>
                                            <th>Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-expanded="expanded"
                                        let-columns="columns">
                                        <tr>
                                            <td>
                                                <a href="#" (click)="getOrderrAllocChildList(rowData.iSOID)"
                                                    [pRowToggler]="rowData">
                                                    <i
                                                        [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                                </a>
                                            </td>
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                            <td>{{rowData.sAddress}}</td>
                                            <!-- <td><span style="color: #76256e !important; font-weight: 600;"
                                                    (click)="openDialogForAddress()">{{rowData.sAddress}}</span>
                                            </td> -->
                                            <td>
                                                <button (click)="orderAllocClick(rowData)" pButton type="button"
                                                    class="ui-button-success" label="Allocate"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                                        <tr>
                                            <td [attr.colspan]="columns.length + 3">
                                                <div class="ui-g ui-fluid" style="font-size:14px;padding:8px">
                                                    <div class="ui-g-12 ui-md-12">
                                                        <p-table [value]="orderDetail">
                                                            <ng-template pTemplate="header">
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Qty</th>
                                            <th>Batch No</th>
                                            <th>Expiry Date</th>
                                            <th>Allocated Qty</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-orderDetail>
                                        <tr>
                                            <td>{{orderDetail.sPrdName}} {{orderDetail.sVariant}}</td>
                                            <td>{{orderDetail.iQty}}</td>
                                            <td>{{orderDetail.sBatchNo}}</td>
                                            <td>{{orderDetail.expiryDate}}</td>
                                            <td>{{orderDetail.allocatedQty}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                        </td>
                        </tr>
                        </ng-template>
                        </p-table>
            </div>
        </div>

        </p-tabPanel>

        <!-- Customer Tab End -->

        <p-tabPanel header="Product">

            <div class="p-grid ui-fluid vertical-container">
                <!-- <div class="p-col p-md-4 p-lg-3 p-col-align-start">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText placeholder="product">
                        <button pButton type="button" icon="pi pi-search" class="ui-button-warn"></button>
                    </div>
                </div> -->
                <div class="p-col-12 mt-3">

                    <p-table [columns]="cols1" #search [value]="products" dataKey="iSOID" [paginator]="false"
                        [rows]="10" [totalRecords]="products.length" rowExpandMode="single"
                        (onRowExpand)="onRowExpand()" (onRowCollapse)="onRowCollapse()" [expandedRowKeys]="expandedRows"
                        [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="ui-table-globalfilter-container text-left">
                                <input type="text" pInputText size="50" placeholder="Search"
                                    (input)="search.filterGlobal($event.target.value,'contains')"
                                    style="width: 250px;" />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 3em">
                                    <a style="cursor: pointer;font-size: 16px; color:teal;" (click)="expandAll()"><i
                                            *ngIf="!isExpanded" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i *ngIf="isExpanded" class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                </th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                            <tr>
                                <td>
                                    <a href="#" [pRowToggler]="rowData">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                </td>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                                <td>
                                    <button (click)="productAllocClick(rowData)" pButton type="button"
                                        class="ui-button-success" label="Allocate"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                            <tr>
                                <td [attr.colspan]="columns.length + 2">
                                    <div class="ui-g ui-fluid" style="font-size:14px;padding:8px">
                                        <div class="ui-g-12 ui-md-12">
                                            <p-table [value]="productDetail">
                                                <ng-template pTemplate="header">
                            <tr>
                                <th>Order No</th>
                                <th>Customer Name</th>
                                <th>Location</th>
                                <th>Qty</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-productDetail>
                            <tr>
                                <td>{{productDetail.orderNo}}</td>
                                <td>{{productDetail.custmName}}</td>
                                <td>{{productDetail.location}}</td>
                                <td>{{productDetail.qty}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            </td>
            </tr>
            </ng-template>
            </p-table>
    </div>
</div>

</p-tabPanel>
</p-tabView>
</div>


</div>
</div>
</div>