
    <div class="p-col-12"> 
        <div class="p-grid ui-fluid">
    <form [formGroup]="AddressForm" (ngSubmit)="onSubmitAddressForm()" autocomplete="off"> 
        <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="addressType">Address Type</label>
                    <p-dropdown [options]="addressTypeData" formControlName="addressType" optionLabel="sKVValue" placeholder="Select"
                    ></p-dropdown>
                        <p-message severity="error" text="This Field is required" *ngIf="!AddressType.valid && (AddressType.dirty || AddressType.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="address1">Address1</label>
                    <input id="address1" type="text" pInputText formControlName="address1">
                        <p-message severity="error" text="This Field is required" *ngIf="!Address1.valid&&(Address1.dirty || Address1.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="address2">Address2</label>
                    <input id="address2" type="text" pInputText formControlName="address2">
                        <p-message severity="error" text="This Field is required" *ngIf="!Address2.valid&&(Address2.dirty || Address2.touched)"></p-message>
                </div>
                
            </div>
    
            <div class="p-grid form-group">
                 <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="pincode">Pincode</label>
                    <input id="pincode" type="text" pInputText formControlName="pincode" (change)="onChangePincode()">
                     <p-message severity="error" [text]="Pincode.errors['required'] ? 'This Field is required' : Pincode.errors['minlength'] ? 'Please enter 6 digits pincode':Pincode.errors['maxlength'] ? 'Please enter 6 digits pincode': ''" 
                    *ngIf="!Pincode.valid&&(Pincode.dirty ||Pincode.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="state">State</label>
                    <input id="state" type="text" formControlName="state" pInputText >
                    <p-message severity="error" text="This Field is required" *ngIf="!State.valid && Pincode.touched && !Pincode.valid"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="city">City</label>
                    <input id="city" type="text"  formControlName="city" pInputText>
                    <p-message severity="error" text="This Field is required" *ngIf="!City.valid && Pincode.touched && !Pincode.valid"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="landmark">Landmark</label>
                    <input id="landmark" type="text" pInputText formControlName="landmark">
                    <p-message severity="error" text="This Field is required" *ngIf="!Landmark.valid && (Landmark.dirty || Landmark.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="shortname">Short Name</label>
                    <input id="shortname" type="text" pInputText formControlName="shortName">
                    <p-message severity="error" text="This Field is required" *ngIf="!ShortName.valid&&(ShortName.dirty || ShortName.touched )"></p-message>
                </div>
    
            </div>
            <div class="separator separator--border-dashed separator--space-sm separator--portlet-fit"></div>
    
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="telNo1">Tel No.1</label>
                    <input id="telNo1" type="text" pInputText formControlName="telNo1">
                    <p-message severity="error" [text]="TelNo1.errors['required'] ? 'This Field is required' : TelNo1.errors['minlength'] ? 'Please enter at least 10 Digits' :TelNo1.errors['maxlength'] ? 'Please enter less than 13 Digits': ''" 
                        *ngIf="!TelNo1.valid&&(TelNo1.dirty ||TelNo1.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="telNo2">Tel No.2</label>
                    <input id="telNo2" type="text" pInputText formControlName="telNo2">
                    <p-message severity="error" [text]="TelNo2.errors['required'] ? 'This Field is required' : TelNo2.errors['minlength'] ? 'Please enter at least 10 Digits' :TelNo2.errors['maxlength'] ? 'Please enter less than 13 Digits': ''" 
                        *ngIf="!TelNo2.valid&&(TelNo2.dirty ||TelNo2.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="fax">FAX No.</label>
                    <input id="fax" type="text" pInputText formControlName="faxNo">
                    <p-message severity="error" text="This Field is required" *ngIf="!FaxNo.valid&&(FaxNo.dirty || FaxNo.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="status">Status</label>
                    <p-dropdown id="status" [options]="statusData" formControlName="Status" optionLabel="sKVValue" placeholder="Select"></p-dropdown>
                    <p-message severity="error" text="This Field is required" *ngIf="!Status.valid&&(Status.dirty || Status.touched)"></p-message>
                </div>
    
            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid p-justify-end">
                <div class="p-col-12 p-md-2 p-lg-2">
                    <button pButton type="button" label="Cancel" style="margin-bottom:10px" class="ui-button-light" (click)="ref.close()"></button>
                </div>
                 <div class="p-col-12 p-md-2 p-lg-2">
                    <button pButton type="submit" label="Save" style="margin-bottom:10px" class="ui-button" [disabled]="!AddressForm.valid"></button>
                </div>
            </div>
        </form>
    </div>
    </div>
