<div class="p-grid ui-fluid">
    <div class="p-col-12">
        <form [formGroup]="AddressForm" (ngSubmit)="onSubmitAddressForm()" autocomplete="off">
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="addressType">Address Type</label>
                    <p-dropdown [options]="addressTypeData" formControlName="addressType" optionLabel="sKVValue"
                        placeholder="Select"></p-dropdown>
                    <p-message severity="error" text="This Field is required"
                        *ngIf="!AddressType.valid && (AddressType.dirty || AddressType.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="address1">Address1</label>
                    <input id="address1" type="text" pInputText formControlName="address1">
                    <p-message severity="error"  [text]="Address1.errors['Msg'] "
                        *ngIf="!Address1.valid&&(Address1.dirty || Address1.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="address2">Address2</label>
                    <input id="address2" type="text" pInputText formControlName="address2">
                    <p-message severity="error"  [text]="Address2.errors['Msg'] "
                        *ngIf="!Address2.valid&&(Address2.dirty || Address2.touched)"></p-message>
                </div>
            </div>
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="pincode">Pincode</label>
                    <input id="pincode" type="text" pInputText formControlName="pincode" (change)="onChangePincode()">
                    <p-message severity="error"
                        [text]="Pincode.errors['Msg'] "
                        *ngIf="!Pincode.valid&&(Pincode.dirty || Pincode.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="state">State</label>
                    <input id="state" type="text" formControlName="state" pInputText>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="city">City</label>
                    <input id="city" type="text" formControlName="city" pInputText>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="landmark">Landmark</label>
                    <input id="landmark" type="text" pInputText formControlName="landmark">
                    <p-message severity="error"  [text]="Landmark.errors['Msg'] "
                        *ngIf="!Landmark.valid && (Landmark.dirty || Landmark.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="shortname">Short Name</label>
                    <input id="shortname" type="text" pInputText formControlName="shortName">
                    <p-message severity="error" [text]="ShortName.errors['Msg']"
                        *ngIf="!ShortName.valid&&(ShortName.dirty || ShortName.touched )"></p-message>
                </div>
            </div>
            <div class="separator separator--border-dashed separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="telNo1">Tel No.1</label>
                    <input id="telNo1" type="text" pInputText formControlName="telNo1">
                    <p-message severity="error"
                        [text]="TelNo1.errors['Msg']"
                        *ngIf="!TelNo1.valid&&(TelNo1.dirty ||TelNo1.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="telNo2">Tel No.2</label>
                    <input id="telNo2" type="text" pInputText formControlName="telNo2">
                    <p-message severity="error"
                        [text]="TelNo2.errors['Msg']"
                        *ngIf="!TelNo2.valid&&(TelNo2.dirty ||TelNo2.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="fax">FAX No.</label>
                    <input id="fax" type="text" pInputText formControlName="faxNo">
                    <p-message severity="error" [text]="FaxNo.errors['Msg']"
                        *ngIf="!FaxNo.valid&&(FaxNo.dirty || FaxNo.touched)"></p-message>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="status">Status</label>
                    <p-dropdown id="status" [options]="statusData" formControlName="Status" optionLabel="sKVValue"
                        placeholder="Select"></p-dropdown>
                    <p-message severity="error" text="This Field is required"
                        *ngIf="!Status.valid&&(Status.dirty || Status.touched)"></p-message>
                </div>
            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid p-justify-end">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" class="ui-button-light atbt mr-2"
                        (click)="ref.close()"></button>
                    <button pButton *ngIf="!isEdit" type="submit" label="Save" class="ui-button atbt"
                        [disabled]="!AddressForm.valid"></button>
                    <button pButton *ngIf="isEdit" type="submit" label="Update" class="ui-button atbt"
                        [disabled]="!AddressForm.valid"></button>
                </div>
            </div>
        </form>
    </div>
</div>