<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Product</h1>
            <p-tabView>
                <p-tabPanel header="Product">
                    <form [formGroup]="ProductForm">

                        <div class="p-grid ui-fluid  p-justify-end mt-3">

                            <div class="p-col-12">
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                                        <label for="address2">Product Name</label>
                                        <input id="address2" type="text" formControlName="sPrdName" pInputText>
                                        <p-message severity="error"
                                            [text]="ProductForm.controls['sPrdName'].errors['required'] ? 'Producer Name is required' : ProductForm.controls['sPrdName'].errors['required']"
                                            *ngIf="!ProductForm.controls['sPrdName'].valid && ProductForm.controls['sPrdName'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="pincode">Short Description</label>
                                        <input id="pincode" type="text" formControlName="sShortName" pInputText>
                                        <p-message severity="error"
                                            [text]="ProductForm.controls['sShortName'].errors['required'] ? 'Short Name is required' : ProductForm.controls['sShortName'].errors['required']"
                                            *ngIf="!ProductForm.controls['sShortName'].valid && ProductForm.controls['sShortName'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                                        <label for="producer">Producer</label>
                                        <p-dropdown [options]="producerData" optionLabel="sProducerName"
                                            formControlName="sProducerName" [(ngModel)]="selectedproducer"></p-dropdown>
                                        <p-message severity="error" text="Producer is required"
                                            *ngIf="ProductForm.controls['sProducerName'].touched && (selectedproducer.iProducerID=='' || ProductForm.controls['sProducerName'].hasError('required'))">
                                        </p-message>

                                    </div>

                                </div>

                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="unit">Status</label>
                                        <p-dropdown id="unit" [options]="statusData" optionLabel="sStatusName"
                                            formControlName="sStatusName" [(ngModel)]="selectedStatus"></p-dropdown>
                                        <p-message severity="error" text="Status is required"
                                            *ngIf="ProductForm.controls['sStatusName'].touched && (selectedStatus.iStatusID=='' || ProductForm.controls['sStatusName'].hasError('required'))">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="unit">Unit</label>
                                        <p-dropdown id="unit" [options]="unitData" optionLabel="sUnitName"
                                            formControlName="sUnitName" [(ngModel)]="selectedunit"></p-dropdown>
                                        <p-message severity="error" text="Unit is required"
                                            *ngIf="ProductForm.controls['sUnitName'].touched && (selectedunit.iUnitID=='' || ProductForm.controls['sUnitName'].hasError('required'))">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="foodCulture">Food Culture</label>
                                        <p-dropdown id="foodCulture" [options]="foodcultureData" optionLabel="sKVValue"
                                            formControlName="sFoodCulture" [(ngModel)]="selectedfoodculture">
                                        </p-dropdown>
                                        <p-message severity="error" text="Food Culture is required"
                                            *ngIf="ProductForm.controls['sFoodCulture'].touched && (selectedfoodculture.iKVID=='' || ProductForm.controls['sFoodCulture'].hasError('required'))">
                                        </p-message>
                                    </div>
                                </div>

                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-5">
                                </div>
                                <div class="p-grid form-group ui-fluid p-justify-end mt-3">
                                    <div class="p-col-12 p-md-12 p-lg-12 text-right">
                                        <button pButton type="button" routerLink="/app/product" label="Cancel"
                                            class="ui-button-light atbt mr-2"></button>
                                        <button *ngIf="!isEdit" pButton type="button" label="Save"
                                            [disabled]="!(!ProductForm.invalid && !dropDownValidityCheck())"
                                            (click)="addProductForm()" class="ui-button atbt"></button>
                                        <button *ngIf="isEdit" pButton type="button" label="Update"
                                            [disabled]="!(!ProductForm.invalid && !dropDownValidityCheck())"
                                            (click)="editProductForm()" class="ui-button atbt"></button>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </form>
                </p-tabPanel>
                <!-- Product tab End here -->

                <p-tabPanel header="Product Image">
                    <div class="p-grid ui-fluid  p-justify-end">
                        <div class="p-grid ui-fluid p-justify-end mt-3">

                            <div class="p-col-12">
                                <p-table [value]="prImage">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 3em">#</th>
                                            <th>Image Name</th>
                                            <th>Image</th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-prImage>

                                        <tr>
                                            <td>{{prImage.sequence}}</td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button class="ui-button-success"
                                                    (click)="openDialogForaddProductImage()" pButton
                                                    icon="pi pi-fw pi-upload" title="Upload Product Image"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>


                        </div>
                    </div>
                </p-tabPanel>
                <!-- ProductImage tab End here -->
                <p-tabPanel header="Product Variant">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForProductVariant()" pButton icon="pi pi-fw pi-plus"
                                label="Add New"></button>

                        </div>
                        <div class="p-col-12">
                            <p-table [value]="productVariant">
                                <ng-template pTemplate="caption">

                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            style="width:250px;">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Unit</th>
                                        <th>Variant</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-productVariant>
                                    <tr>
                                        <td>{{productVariant.Unit}}</td>
                                        <td>{{productVariant.variant}}</td>
                                        <td>
                                            <button pButton type="button" class="ui-button-success" icon="pi pi-pencil"
                                                style="margin-right: .5em"></button>
                                            <button pButton type="button" class="ui-button-danger"
                                                icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Product Variant tab End here -->

                <p-tabPanel header="Product Info">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForProductInfo()" pButton icon="pi pi-fw pi-plus"
                                label="Add / Edit"></button>

                        </div>
                        <div class="p-col-12">
                            <p-table #searchInfo [value]="productInfoData" [filterDelay]="0" [globalFilterFields]="[
                              'sInfo'
                            ]">
                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="
                                      searchInfo.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                      )
                                    " style="width: 250px;" />
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3em">#</th>
                                        <th>Information</th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-productInfo>
                                    <tr>
                                        <td>{{productInfo.iSeq}}</td>
                                        <td>{{productInfo.sInfo}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Product Info tab End here -->
                <p-tabPanel header="Product Description">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForProductDesc()" pButton icon="pi pi-fw pi-plus"
                                label="Add / Edit"></button>

                        </div>
                        <div class="p-col-12">
                            <p-table [value]="productDesc" [resizableColumns]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pResizableColumn>Description</th>
                                        <th pResizableColumn>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-productDesc>
                                    <tr>
                                        <td class="ui-resizable-column">{{productDesc.prDesc}}</td>
                                        <td class="ui-resizable-column">
                                            <button pButton type="button" class="ui-button-success" icon="pi pi-pencil"
                                                style="margin-right: .5em"></button>
                                            <button pButton type="button" class="ui-button-danger"
                                                icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>




                        </div>
                    </div>
                </p-tabPanel>
                <!-- Description tab End here -->
                <p-tabPanel header="Product Queries">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForPrQueries()" pButton icon="pi pi-fw pi-plus"
                                label="Add / Edit"></button>
                        </div>
                        <div class="p-col-12"></div>
                        <div class="p-col-6">
                            <div class="card prcat-shdw border">
                                <p> <strong>1 Question:</strong> What will be delivery charge for Horlicks </p>
                                <p><strong>Answer:</strong> It depends ..chk the site</p>
                            </div>
                        </div>

                        <div class="p-col-6">
                            <div class="card prcat-shdw border">
                                <p> <strong>2 Question:</strong> My age 21 i can use it </p>
                                <p><strong>Answer:</strong> Yes you can.</p>
                            </div>
                        </div>

                        <div class="p-col-6">
                            <div class="card prcat-shdw border">
                                <p> <strong>3 Question:</strong> What will be delivery charge for Horlicks </p>
                                <p><strong>Answer:</strong> It depends ..chk the site</p>
                            </div>
                        </div>

                        <div class="p-col-6">
                            <div class="card prcat-shdw border">
                                <p> <strong>4 Question:</strong> My age 21 i can use it </p>
                                <p><strong>Answer:</strong> Yes you can.</p>
                            </div>
                        </div>

                        <div class="p-col-6">
                            <div class="card prcat-shdw border">
                                <p> <strong>5 Question:</strong> What will be delivery charge for Horlicks </p>
                                <p><strong>Answer:</strong> It depends ..chk the site</p>
                            </div>
                        </div>

                        <div class="p-col-6">
                            <div class="card prcat-shdw border">
                                <p> <strong>6 Question:</strong> My age 21 i can use it </p>
                                <p><strong>Answer:</strong> Yes you can.</p>
                            </div>
                        </div>

                        <div class="p-col-6">
                            <div class="card prcat-shdw border">
                                <p> <strong>7 Question:</strong> What will be delivery charge for Horlicks </p>
                                <p><strong>Answer:</strong> It depends ..chk the site</p>
                            </div>
                        </div>

                        <div class="p-col-6">
                            <div class="card prcat-shdw border">
                                <p> <strong>8 Question:</strong> My age 21 i can use it </p>
                                <p><strong>Answer:</strong> Yes you can.</p>
                            </div>
                        </div>


                    </div>
                </p-tabPanel>
 <!-- ProductQueries tab End here -->
 <p-tabPanel header="Product Category">
    <div class="p-grid p-justify-center mt-4">
        
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card bg-dark prcat-shdw border-light">
                <p-checkbox name="FV" value="Food - Vitamin" label="Food - Vitamin" ></p-checkbox>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card bg-success prcat-shdw border-light">
            <p-checkbox name="FS" value="Food - Supplements" label="Food - Supplements" ></p-checkbox>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card bg-dark prcat-shdw border-light">
                <p-checkbox name="FD" value="Food - Dairy" label="Food - Dairy" ></p-checkbox>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
        <div class="card bg-dark prcat-shdw border-light">
                <p-checkbox name="FCO" value="Food - Cookinig Oil" label="Food - Cookinig Oil" ></p-checkbox>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card bg-dark prcat-shdw border-light">
            <p-checkbox name="HCD" value="Health Concern - Diabetes" label="Health Concern - Diabetes" ></p-checkbox>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card bg-success prcat-shdw border-light">
                <p-checkbox name="HCWL" value="Health Concern - Weight Loss" label="Health Concern - Weight Loss"  selected></p-checkbox>
            </div>
        </div>  

    </div>

    <div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-5"></div>
       
        <div class="p-grid form-group ui-fluid p-justify-end mt-3">
            <div class="p-col-12 p-md-12 p-lg-12 text-right">
                <button pButton type="button" label="Cancel" class="ui-button-light atbt mr-2"></button>
            
                <button pButton type="button" label="Save" class="ui-button atbt"></button>
            </div>
        </div>
</p-tabPanel>

</p-tabView>
</div>
</div>
</div>