<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Product</h1>
            <p-tabView [activeIndex]="index">

                <!-- Product tab start here -->
                <p-tabPanel header="Product">
                    <form [formGroup]="ProductForm" autocomplete="off">
                        <div class="p-grid ui-fluid  p-justify-end mt-3">
                            <div class="p-col-12">
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                                        <label for="sPrdName">Product Name</label>
                                        <input id="sPrdName" type="text" formControlName="sPrdName" pInputText
                                            (change)="productChange()">
                                        <p-message severity="error"
                                            [text]="ProductForm.controls['sPrdName'].errors['Msg']"
                                            *ngIf="!ProductForm.controls['sPrdName'].valid && ProductForm.controls['sPrdName'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="sVariant">Variant</label>
                                        <input id="sVariant" type="text" formControlName="sVariant" pInputText>
                                        <p-message severity="error"
                                            [text]="ProductForm.controls['sVariant'].errors['Msg']"
                                            *ngIf="!ProductForm.controls['sVariant'].valid && ProductForm.controls['sVariant'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="unit">Unit</label>
                                        <p-dropdown id="unit" [options]="unitData" optionLabel="sUnitName"
                                            formControlName="sUnitName" [(ngModel)]="selectedunit"></p-dropdown>
                                        <p-message severity="error" text="Unit is required"
                                            *ngIf="ProductForm.controls['sUnitName'].touched && (selectedunit.iUnitID=='' || ProductForm.controls['sUnitName'].hasError('required'))">
                                        </p-message>
                                    </div>
                                </div>
                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit">
                                </div>
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="sParentPrdName">Parent Product</label>
                                        <p-dropdown id="iPrdID" [options]="parentData" optionLabel="sParentPrdName"
                                            formControlName="sParentPrdName" [(ngModel)]="selectedParent"></p-dropdown>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4 ">
                                        <label for="producer">Producer</label>
                                        <p-dropdown [options]="producerData" optionLabel="sProducerName"
                                            formControlName="sProducerName" [(ngModel)]="selectedproducer"></p-dropdown>
                                        <p-message severity="error" text="Producer is required"
                                            *ngIf="ProductForm.controls['sProducerName'].touched && (selectedproducer.iProducerID=='' || ProductForm.controls['sProducerName'].hasError('required'))">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="foodCulture">Food Culture</label>
                                        <p-multiSelect id="foodCulture" [options]="foodcultureData"
                                            optionLabel="sFCName" formControlName="sFoodCulture"
                                            [(ngModel)]="selectedfoodculture">
                                        </p-multiSelect>
                                        <p-message severity="error" text="Food Culture is required"
                                            *ngIf="ProductForm.controls['sFoodCulture'].touched && (ProductForm.controls['sFoodCulture'].hasError('required'))">
                                        </p-message>
                                    </div>
                                    <!-- <div class="p-col-12 p-md-6 p-lg-4">
                                        <label for="unit">Status</label>
                                        <p-dropdown id="unit" [options]="statusData" optionLabel="sStatusName"
                                            formControlName="sStatusName" [(ngModel)]="selectedStatus"></p-dropdown>
                                        <p-message severity="error" text="Status is required"
                                            *ngIf="ProductForm.controls['sStatusName'].touched && (selectedStatus.iStatusID=='' || ProductForm.controls['sStatusName'].hasError('required'))">
                                        </p-message>
                                    </div> -->
                                </div>
                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit">
                                </div>
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-6 p-lg-4 ">
                                        <label for="producer">Tax</label>
                                        <p-dropdown [options]="taxData" optionLabel="sTaxName"
                                            formControlName="sTaxName" [(ngModel)]="selectedTax"></p-dropdown>
                                        <p-message severity="error" text="Tax is required"
                                            *ngIf="ProductForm.controls['sTaxName'].touched && (selectedTax.iTaxID=='' || ProductForm.controls['sTaxName'].hasError('required'))">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                                        <label for="sPrdDesc">Product Description</label>
                                        <input id="sPrdDesc" type="text" formControlName="sPrdDesc" pInputText>
                                        <p-message severity="error" text="This field is required"
                                            *ngIf="!ProductForm.controls['sPrdDesc'].valid && ProductForm.controls['sPrdDesc'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                                        <label for="sHSN">HSN No</label>
                                        <input id="sHSN" type="text" formControlName="sHSN" pInputText>
                                        <p-message severity="error" [text]="ProductForm.controls['sHSN'].errors['Msg']"
                                            *ngIf="!ProductForm.controls['sHSN'].valid && ProductForm.controls['sHSN'].dirty">
                                        </p-message>
                                    </div>
                                </div>
                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-5">
                                </div>
                                <div class="p-grid form-group ui-fluid p-justify-end mt-3">
                                    <div class="p-col-12 p-md-12 p-lg-12 text-right">
                                        <button pButton type="button" routerLink="/product" label="Cancel"
                                            class="ui-button-light atbt mr-2"></button>
                                        <button *ngIf="!isEdit" pButton type="button" label="Save"
                                            [disabled]="!(!ProductForm.invalid && !dropDownValidityCheck())"
                                            (click)="addProductForm()" class="ui-button atbt"></button>
                                        <button *ngIf="isEdit" pButton type="button" label="Update"
                                            [disabled]="!(!ProductForm.invalid && !dropDownValidityCheck())"
                                            (click)="editProductForm()" class="ui-button atbt"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-tabPanel>
                <!-- Product tab End here -->

                <!-- Product Image tab start here -->
                <p-tabPanel header="Product Image" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid  p-justify-end">
                        <div class="p-grid ui-fluid p-justify-end mt-3">
                            <div class="p-col-12">
                                <p-table [value]="prImage">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 3em">#</th>
                                            <th>Image Name</th>
                                            <th>Image</th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-prImage>
                                        <tr>
                                            <td>{{prImage.sequence}}</td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button class="ui-button-success"
                                                    (click)="openDialogForaddProductImage()" pButton
                                                    icon="pi pi-fw pi-upload" title="Upload Product Image"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Product Image tab End here -->

                <!-- Product variant tab start here -->
                <!-- <p-tabPanel header="Product Variant" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForProductVariant()" pButton icon="pi pi-fw pi-plus"
                                label="Add New"></button>
                        </div>
                        <div class="p-col-12">
                            <p-table [value]="productVariant">
                                <ng-template pTemplate="caption">

                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            style="width:250px;">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Unit</th>
                                        <th>Variant</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-productVariant>
                                    <tr>
                                        <td>{{productVariant.Unit}}</td>
                                        <td>{{productVariant.variant}}</td>
                                        <td>
                                            <button pButton type="button" class="ui-button-success" icon="pi pi-pencil"
                                                style="margin-right: .5em"></button>
                                            <button pButton type="button" class="ui-button-danger"
                                                icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel> -->
                <!-- Product Variant tab End here -->

                <!-- Product info tab start here -->
                <p-tabPanel header="Product Info" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForProductInfo()" pButton icon="pi pi-fw pi-plus"
                                label="Add / Edit"></button>
                        </div>
                        <div class="p-col-12">
                            <p-table #searchInfo [value]="productInfoData" [filterDelay]="0" [globalFilterFields]="[
                              'sInfo'
                            ]">
                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="
                                      searchInfo.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                      )
                                    " style="width: 250px;" />
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3em">#</th>
                                        <th>Information</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-productInfo>
                                    <tr>
                                        <td>{{productInfo.iSeq}}</td>
                                        <td>{{productInfo.sInfo}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Product Info tab End here -->

                <!-- Product description tab start here -->
                <p-tabPanel header="Product Description" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForProductDesc()" pButton icon="pi pi-fw pi-plus"
                                label="Add / Edit"></button>
                        </div>
                        <div class="p-col-12">
                            <p-table [value]="productDesc" [resizableColumns]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pResizableColumn>Description</th>
                                        <th pResizableColumn>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-productDesc>
                                    <tr>
                                        <td class="ui-resizable-column">{{productDesc.prDesc}}</td>
                                        <td class="ui-resizable-column">
                                            <button pButton type="button" class="ui-button-success" icon="pi pi-pencil"
                                                style="margin-right: .5em"></button>
                                            <button pButton type="button" class="ui-button-danger"
                                                icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Product Description tab End here -->

                <!-- Product query tab start here -->
                <p-tabPanel header="Product Queries" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForPrQueries()" pButton icon="pi pi-fw pi-plus"
                                label="Add / Edit"></button>
                        </div>
                        <div class="p-col-12"></div>
                        <div class="p-col-6" *ngFor="let dt of productQueries; let i=index">
                            <div class="card prcat-shdw border">
                                <p> <strong>{{i+1}} Question:</strong> {{dt.sQue}} </p>
                                <p><strong>Answer:</strong> {{dt.sAns}}</p>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Product Queries tab End here -->

                <!-- Attachment tab start here -->
                <p-tabPanel header="Attachment" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid">
                        <div class="p-col-12 p-md-3 p-lg-3">
                            <!-- <label for="sfileType">Select File Type</label> -->
                            <!-- <p-dropdown id="sfileType" class="form-control" placeholder="Select" required="true">
                            </p-dropdown> -->
                            <p-dropdown id="sfileType" class="form-control" [options]="fileTypeData"
                                placeholder="Select File Type" optionLabel="sDocTypeName" [(ngModel)]="selectedFileType"
                                required="true"></p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-3 p-lg-1">
                            <div class="fileUpload p-0">
                                <!-- <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                                    maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true"
                                    chooseLabel="Browse"></p-fileUpload> -->
                                <p-fileUpload mode="basic" [auto]="true" name="demo[]" maxFileSize="1000000"
                                    customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple"
                                    chooseLabel="Browse"></p-fileUpload>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-3 p-lg-3 text-left"><button pButton type="button" icon="pi pi-upload"
                                (click)="uploadFile()" label="Upload" class="ui-button atbt"></button></div>
                        <div class="p-col-12 p-md-12 p-lg-12 mt-3">
                            <p-table [value]="attachment">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>File Type</th>
                                        <th>File Name</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-attachment>
                                    <tr>
                                        <td>{{attachment.sDocTypeName}}</td>
                                        <td>{{attachment.sActualName}}</td>
                                        <td>
                                            <button pButton type="button" class="ui-button-success mr-1"
                                                (click)="downloadFile(attachment)" icon="pi pi-download"></button>
                                            <button pButton type="button" class="ui-button-danger"
                                                (click)="deleteAttFile(attachment)" icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="noRecordsFound" *ngIf="!attachment.length">{{noRecordFound}}</div>
                </p-tabPanel>
                <!-- Attachment tab End here -->

                <!-- Product category tab start here -->
                <p-tabPanel header="Product Category" [disabled]="tabDisabled">
                    <!-- <div class="p-grid p-justify-center mt-4">
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="card bg-dark prcat-shdw border-light">
                                <p-checkbox name="FV" value="Food - Vitamin" label="Food - Vitamin"></p-checkbox>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="card bg-success prcat-shdw border-light">
                                <p-checkbox name="FS" value="Food - Supplements" label="Food - Supplements">
                                </p-checkbox>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="card bg-dark prcat-shdw border-light">
                                <p-checkbox name="FD" value="Food - Dairy" label="Food - Dairy"></p-checkbox>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="card bg-dark prcat-shdw border-light">
                                <p-checkbox name="FCO" value="Food - Cookinig Oil" label="Food - Cookinig Oil">
                                </p-checkbox>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="card bg-dark prcat-shdw border-light">
                                <p-checkbox name="HCD" value="Health Concern - Diabetes"
                                    label="Health Concern - Diabetes"></p-checkbox>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="card bg-success prcat-shdw border-light">
                                <p-checkbox name="HCWL" value="Health Concern - Weight Loss"
                                    label="Health Concern - Weight Loss" selected></p-checkbox>
                            </div>
                        </div>
                    </div> -->
                    <p-pickList [source]="sourceCategory" [target]="targetCategory" sourceHeader="UnMapped"
                        targetHeader="Mapped" [responsive]="true" filterBy="sCategoryName" dragdrop="true"
                        sourceFilterPlaceholder="Search by category" targetFilterPlaceholder="Search by category"
                        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                        <ng-template let-category pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:14px;">{{category.sCategoryName}} </div>
                            </div>
                        </ng-template>
                    </p-pickList>
                    <div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-5">
                    </div>
                    <div class="p-grid form-group ui-fluid p-justify-end mt-3">
                        <div class="p-col-12 p-md-12 p-lg-12 text-right">
                            <button pButton type="button" label="Cancel" routerLink="/product"
                                class="ui-button-light atbt mr-2"></button>
                            <button pButton type="button" label="Save" (click)="addCategoryMappingData()"
                                class="ui-button atbt"></button>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Product category tab end here -->
            </p-tabView>
        </div>
    </div>
</div>