<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Customer Order Allocation</h1>
                </div>
                <div class="p-col-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Customer : <strong>{{customer_name}}</strong></div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2" (click)="openDialogForAddress()">Location : <strong>
                                    {{address}}</strong></div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Order No : <strong>{{order_no}}</strong></div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 mt-3">
                    <p-table [value]="orderDetail">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Product Name</th>
                                <th>Qty</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-orderDetail>
                            <tr>
                                <td>{{orderDetail.sPrdName}} {{orderDetail.sVariant}}</td>
                                <td>{{orderDetail.iQty}}</td>
                                <td>
                                    <button (click)="openDialogForOrderAllocate(orderDetail)" pButton type="button"
                                        class="ui-button-success mr-1" label="Allocate"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="p-col-12 p-md-2 p-lg-12">
                    <div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-2">
                    </div>
                </div>
                <div class="p-col-12 p-md-2 p-lg-12 text-right mt-0">
                    <button pButton type="button" label="Cancel" routerLink="/sales-order/order-allocation"
                        class="ui-button-light atbt mr-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>
</div>