
    <div class="p-grid ui-fluid">
        <div class="p-col-12"> 
    
            <div class="p-grid form-group">

                <div class="p-col-12">
                    <label for="unit">Unit</label>
                    <p-dropdown id="unit" [options]="unit" [(ngModel)]="selectedunit"></p-dropdown>
                </div>
                

                <div class="p-col-12">
                    <label for="variant">Variant</label>
                    <input id="variant" type="text" pInputText>
                </div>
            </div>

            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>

            <div class="p-grid form-group ui-fluid">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" class="ui-button-light atbt mr-2"></button>                
                    <button pButton type="button" label="Save" class="ui-button atbt"></button>
                </div>
            </div>

        </div>
       
    </div>