<div class="p-grid ui-fluid">
    <form [formGroup]="producerForm" autocomplete="off">
        <div class="p-col-12">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="pcName">Producer Name</label>
                    <input id="pcName" type="text" formControlName="sProducerName" pInputText>
                    <p-message severity="error" [text]="producerForm.controls['sProducerName'].errors['Msg']"
                        *ngIf="!producerForm.controls['sProducerName'].valid&&producerForm.controls['sProducerName'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <label for="sCountryName">Country</label>
                    <p-dropdown formControlName="sCountryName" optionLabel="sLocName" id="sCountryName"
                        [options]="countryData"></p-dropdown>
                    <div>
                        <p-message severity="error" [text]="producerForm.controls['sCountryName'].errors['Msg']"
                            *ngIf="!producerForm.controls['sCountryName'].valid && producerForm.controls['sCountryName'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12">
                    <label for="sShortCode">Short Code</label>
                    <input id="sShortCode" formControlName="sShortCode" type="text" pInputText>
                    <p-message severity="error" [text]="producerForm.controls['sShortCode'].errors['Msg']"
                        *ngIf="!producerForm.controls['sShortCode'].valid&&producerForm.controls['sShortCode'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <label for="status">Status</label>
                    <!-- <p-dropdown id="status" [options]="status" [(ngModel)]="selectedstatus"></p-dropdown> -->
                    <p-dropdown formControlName="iStatusID" optionLabel="sKVValue" id="iStatusID"
                        [options]="statusData"></p-dropdown>
                    <p-message severity="error" [text]="producerForm.controls['iStatusID'].errors['Msg']"
                        *ngIf="!producerForm.controls['iStatusID'].valid && producerForm.controls['iStatusID'].dirty">
                    </p-message>
                </div>
            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" (click)="closeDialog()"
                        class="ui-button-light atbt mr-2"></button>
                    <button *ngIf="!isEdit" pButton type="button" label="Save" [disabled]="!(!producerForm.invalid)"
                        (click)="addProducer()" class="ui-button atbt"></button>
                    <button *ngIf="isEdit" pButton type="button" label="Update" [disabled]="!(!producerForm.invalid)"
                        (click)="updateProducer()" class="ui-button atbt"></button>
                </div>
            </div>
        </div>
    </form>
</div>