<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Receive Product</h1>
            <div class="p-grid ui-fluid">
                <div class="p-col-8 p-lg-8">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Product : <strong> {{ product_name }}</strong></div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Ordered Quantity : <strong>{{ ordered_qty }}</strong></div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                            <div class="card bg-success p-2">Pending Quantity : <strong>{{ pending_qty }}</strong></div>
                        </div>
                    </div>
                </div>
                <div class="p-col-7">
                    <div class="p-grid">

                        <div class="p-grid">
                            <form [formGroup]="productForm" autocomplete="off">
                                <div class="p-col-12">
                                    <div class="card download-files p-3 mb-2">
                                        <div class="p-grid form-group">
                                            <div class="p-col-12 p-md-6 p-lg-6 mb-1">
                                                <label for="sBatchNo">Batch No. / Lot No.</label>
                                                <input id="sBatchNo" type="text" pInputText
                                                    placeholder="Enter Batch No." formControlName="sBatchNo">
                                                <p-message severity="error"
                                                    [text]="productForm.controls['sBatchNo'].errors['Msg']"
                                                    *ngIf="!productForm.controls['sBatchNo'].valid && productForm.controls['sBatchNo'].dirty">
                                                </p-message>
                                            </div>
                                            <div class="p-col-12 p-md-6 p-lg-6 mb-1">
                                                <label for="iReceivedQty">Received Quantity</label>
                                                <input id="iReceivedQty" type="text" pInputText placeholder="Enter Qty."
                                                    formControlName="iReceivedQty" (change)="qtyChange()">
                                                <p-message severity="error"
                                                    [text]="productForm.controls['iReceivedQty'].errors['Msg']"
                                                    *ngIf="!productForm.controls['iReceivedQty'].valid && productForm.controls['iReceivedQty'].dirty">
                                                </p-message>
                                            </div>

                                            <div class="p-col-12 p-md-6 p-lg-6 mb-1">
                                                <label for="sPODNo">POD No.</label>
                                                <input id="sPODNo" type="text" pInputText placeholder="POD No."
                                                    formControlName="sPODNo">
                                                <p-message severity="error"
                                                    [text]="productForm.controls['sPODNo'].errors['Msg']"
                                                    *ngIf="!productForm.controls['sPODNo'].valid && productForm.controls['sPODNo'].dirty">
                                                </p-message>
                                            </div>
                                            <div class="p-col-12 p-md-6 p-lg-6 mb-1">
                                                <label for="sPODDate">POD Date</label>
                                                <p-calendar formControlName="sPODDate" dateFormat="dd-mm-yy"
                                                    placeholder="Select Date">
                                                </p-calendar>
                                                <!-- <div>
                                                    <p-message severity="error" text="This field is required"
                                                        *ngIf="productForm.controls['sPODDate'].touched  && productForm.controls['sPODDate'].hasError('required')">
                                                    </p-message>
                                                </div> -->
                                            </div>
                                            <div class="p-col-12 p-md-6 p-lg-6 mb-1">
                                                <label for="sManufacturingDate">Manufacturing Date</label>
                                                <p-calendar formControlName="sManufacturingDate" dateFormat="dd-mm-yy"
                                                    placeholder="Select Date">
                                                </p-calendar>
                                                <!-- <div>
                                                    <p-message severity="error" text="This field is required"
                                                        *ngIf="productForm.controls['sManufacturingDate'].touched  && productForm.controls['sManufacturingDate'].hasError('required')">
                                                    </p-message>
                                                </div> -->
                                            </div>
                                            <div class="p-col-12 p-md-6 p-lg-6 mb-1">
                                                <label for="sExpireDate">Expire Date</label>
                                                <p-calendar formControlName="sExpireDate" dateFormat="dd-mm-yy"
                                                    placeholder="Select Date">
                                                </p-calendar>
                                                <!-- <div>
                                                    <p-message severity="error" text="This field is required"
                                                        *ngIf="productForm.controls['sExpireDate'].touched  && productForm.controls['sExpireDate'].hasError('required')">
                                                    </p-message>
                                                </div> -->
                                            </div>

                                        </div>
                                        <div class="p-col-12 p-md-2 p-lg-12">
                                            <div
                                                class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-0">
                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-2 p-lg-12 text-right mt-0">
                                            <button routerLink="/grn/good-expected" pButton type="button" label="Cancel"
                                                class="ui-button-light atbt mr-2 mb-2"></button>
                                            <button pButton type="button" label="Add" class="ui-button atbt mb-2"
                                                (click)="addDetails()" [disabled]="!productForm.valid"></button>
                                        </div>

                                    </div>

                                </div>


                            </form>

                        </div>
                    </div>
                </div>

                <div class="p-col-5">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card download-files p-3 mb-2" *ngIf="receivedArray.length>0">
                                <div class="p-grid p-nogutter">
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                        <p-table [value]="receivedArray">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Batch No. / Lot No.</th>
                                                    <th>Quantity</th>
                                                    <th>Action</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-receivedArray let-rowIndex="rowIndex">
                                                <tr>

                                                    <td>{{receivedArray.sBatchNo}}</td>
                                                    <td>{{receivedArray.iReceivedQty}}</td>
                                                    <td>
                                                        <button pButton type="button" class="ui-button-danger mr-1"
                                                            icon="pi pi-trash"
                                                            (click)="deleteBatch(receivedArray,rowIndex)"></button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>


                                    <div class="p-col-12 p-md-2 p-lg-12">
                                        <div
                                            class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-0">
                                        </div>
                                    </div>

                                    <div class="p-col-12 p-md-2 p-lg-12 text-right mt-0">
                                        <button routerLink="/grn/good-expected" pButton type="button" label="Cancel"
                                            class="ui-button-light atbt mr-2 mb-2"></button>
                                        <button routerLink="/grn/grn-list" pButton type="submit" label="Save"
                                            [disabled]="!receivedArray.length" class="ui-button atbt mb-2"
                                            (click)="saveGRN()"></button>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>


                </div>




            </div>

        </div>
    </div>
</div>