<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Supplier</h1>
            <p-tabView>
                <p-tabPanel header="Supplier">
                    <form [formGroup]="addSupplierForm">

                        <div class="p-grid ui-fluid  p-justify-end mt-3">

                            <div class="p-col-12">
                                <div class="p-grid form-group">

                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="suppName">Supplier Name</label>
                                        <input id="suppName" class="form-control" formControlName="sSupName" type="text"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="addSupplierForm.controls['sSupName'].errors['required'] ? 'Supplier Name is required' : addSupplierForm.controls['sSupName'].errors"
                                            *ngIf="!addSupplierForm.controls['sSupName'].valid && addSupplierForm.controls['sSupName'].dirty">
                                        </p-message>
                                    </div>


                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="shotCode">Short Code</label>
                                        <input id="shotCode" class="form-control" type="text"
                                            formControlName="sShortCode" pInputText>
                                        <p-message severity="error"
                                            [text]="addSupplierForm.controls['sShortCode'].errors['required'] ? 'Short Code is required' : addSupplierForm.controls['sShortCode'].errors"
                                            *ngIf="!addSupplierForm.controls['sShortCode'].valid && addSupplierForm.controls['sShortCode'].dirty">
                                        </p-message>
                                    </div>

                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="legalEntity">Legal Entity ID</label>
                                        <input id="legalEntity" class="form-control" type="text"
                                            formControlName="iLegalEntityID" pInputText>
                                        <p-message severity="error"
                                            [text]="addSupplierForm.controls['iLegalEntityID'].errors['required'] ? 'Entity Id is required' : addSupplierForm.controls['iLegalEntityID'].errors"
                                            *ngIf="!addSupplierForm.controls['iLegalEntityID'].valid && addSupplierForm.controls['iLegalEntityID'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="website">Website</label>
                                        <input id="website" class="form-control" type="text" formControlName="sWebsite"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="addSupplierForm.controls['sWebsite'].errors['required'] ? 'Website Name is required' : addSupplierForm.controls['sWebsite'].errors"
                                            *ngIf="!addSupplierForm.controls['sWebsite'].valid && addSupplierForm.controls['sWebsite'].dirty">
                                        </p-message>
                                    </div>

                                </div>
                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit">
                                </div>
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="telNo1">Tel No. 1</label>
                                        <input id="telNo1" class="form-control" type="text" formControlName="sTelNo1"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="addSupplierForm.controls['sTelNo1'].errors['required'] ? 'Telephone 1 is required' : addSupplierForm.controls['sTelNo1'].errors"
                                            *ngIf="!addSupplierForm.controls['sTelNo1'].valid && addSupplierForm.controls['sTelNo1'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="telNo2">Tel No. 2</label>
                                        <input id="telNo2" class="form-control" type="text" formControlName="sTelNo2"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="addSupplierForm.controls['sTelNo2'].errors['required'] ? 'Telephone 2 is required' : addSupplierForm.controls['sTelNo2'].errors"
                                            *ngIf="!addSupplierForm.controls['sTelNo2'].valid && addSupplierForm.controls['sTelNo2'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="fax">Fax</label>
                                        <input id="fax" class="form-control" type="text" formControlName="sFaxNo"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="addSupplierForm.controls['sFaxNo'].errors['required'] ? 'Fax Number is required' : addSupplierForm.controls['sFaxNo'].errors"
                                            *ngIf="!addSupplierForm.controls['sFaxNo'].valid && addSupplierForm.controls['sFaxNo'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="pincode">Pan No.</label>
                                        <input id="pincode" class="form-control" type="text" formControlName="sPAN"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="addSupplierForm.controls['sPAN'].errors['required'] ? 'PAN Number is required' : addSupplierForm.controls['sPAN'].errors"
                                            *ngIf="!addSupplierForm.controls['sPAN'].valid && addSupplierForm.controls['sPAN'].dirty">
                                        </p-message>
                                    </div>
                                </div>

                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit">
                                </div>
                                <div class="p-grid form-group">

                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="status">Status</label>
                                        <p-dropdown id="status" class="form-control" [options]="statusData"
                                            formControlName="iStatusID" placeholder="Select" optionLabel="sKVValue"
                                            [(ngModel)]="selectedstatus" required="true"></p-dropdown>
                                        <p-message severity="error" text="select Status is required"
                                            *ngIf="addSupplierForm.controls['iStatusID'].touched && (selectedstatus.iKVID=='' || addSupplierForm.controls['iStatusID'].hasError('required'))">
                                        </p-message>
                                    </div>

                                </div>

                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-5">
                                </div>
                                <div class="p-grid form-group ui-fluid p-justify-end mt-3">
                                    <div class="p-col-12 p-md-2 p-lg-12 text-right">
                                        <button pButton type="button" label="Cancel" routerLink="/app/supplier"
                                             class="ui-button-light atbt mr-2 mb-2"></button>
                                   
                                        <button pButton type="submit" *ngIf="!isEdit"
                                            [disabled]="!(!addSupplierForm.invalid && !dropDownValidityCheck())"
                                            (click)="addSupplier()" label="Save" class="ui-button atbt mb-2"></button>
                                    
                                        <button pButton type="submit" *ngIf="isEdit"
                                            [disabled]="!(!addSupplierForm.invalid && !dropDownValidityCheck())"
                                            (click)="editSupplier()" label="Update" class="ui-button atbt mb-2"></button>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </form>
                </p-tabPanel>
                <!-- Supplier tab End here -->

                <!-- Address tab Starts here -->
                <p-tabPanel header="Address">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForaddAddress()" pButton icon="pi pi-fw pi-plus"
                                label="Add New"></button>

                        </div>
                        <div class="p-col-12"> 
                            <p-table #AddressSerach [value]="supplierAdressData" [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                            [globalFilterFields]="[
                              'sAddType','sAdd1','sAdd2','sStateName','sCityName','sLandmark','iStatusID'
                            ]">
                            <ng-template pTemplate="caption">
                                <div class="ui-table-globalfilter-container text-left">
                                <input type="text" pInputText size="50" placeholder="Search"
                                  (input)="AddressSerach.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                              </div>
                            </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Address Type</th>
                                        <th>Address 1</th>
                                        <th>Address 2</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Landmark</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-address>
                                    <tr>
                                        <td>{{address.sAddType}}</td>
                                        <td>{{address.sAdd1}}</td>
                                        <td>{{address.sAdd2}}</td>
                                        <td>{{address.sStateName}}</td>
                                        <td>{{address.sCityName}}</td>
                                        <td>{{address.sLandmark}}</td>
                                        <td style="text-align: center;">
                                            <span *ngIf="address.iStatusID == 1" class="badge badge--success badge--inline badge--pill">
                                              Active
                                            </span>
                                            <span *ngIf="address.iStatusID == 2" class="badge badge--warning badge--inline badge--pill">
                                              Inactive
                                            </span>
                                            <span *ngIf="address.iStatusID == 3" class="badge badge--danger badge--inline badge--pill">
                                              Deleted
                                            </span>
                                          </td>
                                        <td><button pButton type="button" class="ui-button-success" (click)="editSupplierAddress(address.iSupAddID)" icon="pi pi-pencil" style="margin-right: .5em"></button>
                                         <button pButton type="button" class="ui-button-danger" (click)="deleteSupplierAddress(address.iSupAddID)" icon="pi pi-trash"></button></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Address tab End here -->

                <p-tabPanel header="Contact">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForaddContact()" pButton icon="pi pi-fw pi-plus" label="Add" class="ui-button"></button>
                            
                        </div>
                        <div class="p-col-12"> 
                            <!-- <p-table [value]="contact">
                                <ng-template pTemplate="caption">
                               
                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                                    </div>
                                </ng-template> -->
                                <p-table #dt [value]="contact" [resizableColumns]="true" [rowHover]="true" [paginator]="true"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                                    [globalFilterFields]="['sFullName','sDesignation','sEmailID','sMobileNo','sContactNo','sDirectNo','sFaxNo','sStatusName']">
                                    <ng-template pTemplate="caption">
            
                                        <div class="ui-table-globalfilter-container text-left">
                                            <input type="text" pInputText size="50" placeholder="Search"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                                        </div>
                                    </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Designation</th>
                                        <th>Email ID</th>
                                        <th>Supplier Address</th>
                                        <th>Mobile No.</th>
                                        <th>Contact No.</th>
                                        <th>Direct No.</th>
                                        <th>Fax No.</th>
                                        <th>Status</th>
                                        <th >Action</th>
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-contact>
                                    <tr>
                                        <td>{{contact.sFullName}}</td>
                                        <td>{{contact.sDesignation}}</td>
                                        <td>{{contact.sEmailID}}</td>
                                        <td>{{contact.sAddress}}</td>
                                        <td>{{contact.sMobileNo}}</td>
                                        <td>{{contact.sContactNo}}</td>
                                        <td>{{contact.sDirectNo}}</td>
                                        <td>{{contact.sFaxNo}}</td>
                                        <!-- <td>{{contact.sStatusName}}</td> -->
                                        <td>
                                            <span *ngIf="contact.iStatusID == 1" class="badge badge--success badge--inline badge--pill">
                                              Active
                                            </span>
                                            <span *ngIf="contact.iStatusID == 2" class="badge badge--warning badge--inline badge--pill">
                                              Inactive
                                            </span>
                                            <span *ngIf="contact.iStatusID == 3" class="badge badge--danger badge--inline badge--pill">
                                              Deleted
                                            </span>
                                          </td>
                                        <td>
                                            <button pButton type="button" (click)="editContact(contact.iSupContactID)" class="ui-button-success" icon="pi pi-pencil" style="margin-right: .5em"></button>
                                            <button pButton type="button" (click)="deleteContact(contact.iSupContactID)" class="ui-button-danger" icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Contact Info tab End here -->

                <p-tabPanel header="Bank">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForBank()" pButton icon="pi pi-fw pi-plus" label="Add New"></button>
                        </div>
                        <div class="p-col-12"> 
                            <!-- <p-table [value]="bank">
                                <ng-template pTemplate="header"> -->
                                    <p-table #dt [value]="bank" [resizableColumns]="true" [rowHover]="true" [paginator]="true"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                                    [globalFilterFields]="['sBankName','sShortCode','sAccountNo','sIFSC','sBankBranch','sStatusName']">
                                    <ng-template pTemplate="caption">
            
                                        <div class="ui-table-globalfilter-container text-left">
                                            <input type="text" pInputText size="50" placeholder="Search"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                    <tr>
                                        <th>Bank Name</th>
                                        <th>Short Code/Account Type</th>
                                        <th>Account No.</th>
                                        <th>IFSC</th>
                                        <th>Bank Branch</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-bank>
                                    <tr>
                                            <td>{{bank.sBankName}}</td>
                                            <td>{{bank.sShortCode}}</td>
                                            <td>{{bank.sAccountNo}}</td>
                                            <td>{{bank.sIFSC}}</td>
                                            <td>{{bank.sBankBranch}}</td>
                                            <td>{{bank.sStatusName}}</td>
                                            <td>
                                                <button pButton type="button" (click)="editBank(bank.iBankID)" class="ui-button-success" icon="pi pi-pencil" style="margin-right: .5em"></button>
                                                <button pButton type="button" (click)="deleteBank(bank.iBankID)" class="ui-button-danger" icon="pi pi-trash"></button>
                                            </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Bank tab End here -->


                <p-tabPanel header="GST">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForGST()" pButton icon="pi pi-fw pi-plus"
                                label="Add New"></button>
                        </div>
                        <div class="p-col-12">
                            <p-table [value]="gst">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>State</th>
                                        <th>GST</th>

                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-gst>
                                    <tr>
                                        <td >{{gst.sStateName}}</td>
                                        <td >{{gst.sGST}}</td>

                                        <td >
                                            <button pButton type="button" (click)="editDialogForGST(gst)" class="ui-button-success mr-1" icon="pi pi-pencil"></button>
                                            <button pButton type="button" (click)="deletesupgst(gst)" class="ui-button-danger" icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- GST Info tab End here -->
                
                <p-tabPanel header="Attachment">
                    <div class="p-grid ui-fluid">
                        <div class="p-col-12 p-md-3 p-lg-3">
                            <label for="sfileType">Select File Type</label>
                            <!-- <p-dropdown id="sfileType" class="form-control" placeholder="Select" required="true"></p-dropdown> -->
                            <p-dropdown id="sfileType" class="form-control" [options]="fileTypeData" placeholder="Select File Type" optionLabel="sDocTypeName"
                                            [(ngModel)]="selectedFileType" required="true"></p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-2 p-lg-1">
                            <div class="fileUpload p-0">
                                <p-fileUpload mode="basic" [auto]="true" name="demo[]"  maxFileSize="1000000" customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple" chooseLabel="Browse"></p-fileUpload>                                
                                
                            </div>
                         </div>
                        <div class="p-col-12 p-md-3 p-lg-3 text-left"><button pButton type="button" (click)="uploadFile()" label="Upload" class="ui-button atbt"></button></div> 
                        
                        <div class="p-col-12 p-md-12 p-lg-12 mt-3">
                                <p-table #attachmentHeader [value]="attachment" [resizableColumns]="true" [rowHover]="true" [paginator]="true"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                                    [globalFilterFields]="['sDocTypeName','sActualName']">
                                    <ng-template pTemplate="caption">
            
                                        <div class="ui-table-globalfilter-container text-left">
                                            <input type="text" pInputText size="50" placeholder="Search"
                                                (input)="attachmentHeader.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>File Type</th>
                                            <th>File Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </ng-template>
                                <ng-template pTemplate="body" let-attachment>
                                    <tr>
                                        <td>{{attachment.sDocTypeName}}</td>
                                        <td>{{attachment.sActualName}}</td>
                                        <td>
                                            <button pButton type="button" class="ui-button-success mr-1" (click)="downloadFile(attachment)" icon="pi pi-arrow-down"></button>
                                            <button pButton type="button" class="ui-button-danger" icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                         </div>
                    </div>
                </p-tabPanel>

                <!-- Attachment tab End here -->
                

                <!-- <p-tabPanel header="Category Mapping">
                    <p-tree [value]="categoryMappingData" selectionMode="checkbox" [(selection)]="selectedCategoryIDS" ></p-tree>
                    <div>Selected Nodes: <span *ngFor="let file of selectedCategoryIDS">{{file.key}} </span></div>
                   
                    <div class="p-col-12 p-md-2 p-lg-1">
                        <button pButton type="button" label="Save"  style="margin-bottom:10px" class="ui-button" (click)="addCategoryMapping()"></button>
                    </div>
                </p-tabPanel> -->
                <p-tabPanel header="Category Mapping" >
                <p-pickList [source]="sourceCategory" [target]="targetCategory" sourceHeader="UnMapped" targetHeader="Mapped" [responsive]="true" filterBy="sCategoryName"
        dragdrop="true" sourceFilterPlaceholder="Search by category" targetFilterPlaceholder="Search by category" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
    <ng-template let-category pTemplate="item">
        <div class="ui-helper-clearfix"> <div style="font-size:14px;">{{category.sCategoryName}} </div></div>
    </ng-template>
</p-pickList>
<div class="p-grid form-group ui-fluid p-justify-end mt-3">
    <div class="p-col-12 p-md-2 p-lg-12 text-right">
        <button pButton type="button" label="Save"  style="margin-bottom:10px" class="ui-button" (click)="addCategoryMappingData()"></button>
    </div>
</div>

</p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>