<div class="p-grid ui-fluid">
    <div class="p-col-6">
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="address2">1 Question </label>
                <input id="address2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="address2">Answer </label>
                <textarea [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>

        </div>
    </div>

    <div class="p-col-6">
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="address2">2 Question </label>
                <input id="address2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="address2">Answer </label>
                <textarea [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>

        </div>
    </div>
    <div class="p-col-12">
        <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
    </div>

    <div class="p-col-6">
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="address2">3 Question </label>
                <input id="address2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="address2">Answer </label>
                <textarea [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>

        </div>
    </div>

    <div class="p-col-6">
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="address2">4 Question </label>
                <input id="address2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="address2">Answer </label>
                <textarea [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>

        </div>
    </div>
    <div class="p-col-12">
        <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
    </div>

    <div class="p-col-6">
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="address2">5 Question </label>
                <input id="address2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="address2">Answer </label>
                <textarea [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>

        </div>
    </div>

    <div class="p-col-6">
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="address2">6 Question </label>
                <input id="address2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="address2">Answer </label>
                <textarea [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>

        </div>
    </div>
    <div class="p-col-12">
        <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
    </div>

    <div class="p-col-6">
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="address2">7 Question </label>
                <input id="address2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="address2">Answer </label>
                <textarea [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>

        </div>
    </div>

    <div class="p-col-6">
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="address2">8 Question </label>
                <input id="address2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="address2">Answer </label>
                <textarea [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>

        </div>
    </div>

</div>
<div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-5"></div>
    <div class="p-grid form-group ui-fluid p-justify-end mt-3">
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" label="Cancel" style="margin-bottom:10px" class="ui-button-light"></button>
        </div>
         <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" label="Save" style="margin-bottom:10px" class="ui-button"></button>
        </div>
    </div>