<form [formGroup]="queriesForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
    <div class="p-grid ui-fluid">
        <div class="p-col-6">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="address1">1 Question </label>
                    <input id="address1" type="text" formControlName="sQue1" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="address1">Answer </label>
                    <textarea [rows]="2" [cols]="30" formControlName="sAns1" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>

            </div>
        </div>

        <div class="p-col-6">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="address2">2 Question </label>
                    <input id="address2" type="text" formControlName="sQue2" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="address2">Answer </label>
                    <textarea [rows]="2" [cols]="30" formControlName="sAns2" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>

            </div>
        </div>
        <div class="p-col-12">
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
        </div>

        <div class="p-col-6">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="address3">3 Question </label>
                    <input id="address3" type="text" formControlName="sQue3" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="address3">Answer </label>
                    <textarea [rows]="2" [cols]="30" formControlName="sAns3" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>

            </div>
        </div>

        <div class="p-col-6">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="address4">4 Question </label>
                    <input id="address4" type="text" formControlName="sQue4" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="address4">Answer </label>
                    <textarea [rows]="2" [cols]="30" formControlName="sAns4" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>

            </div>
        </div>
        <div class="p-col-12">
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
        </div>

        <div class="p-col-6">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="address5">5 Question </label>
                    <input id="address5" type="text" formControlName="sQue5" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="address5">Answer </label>
                    <textarea [rows]="2" [cols]="30" formControlName="sAns5" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>

            </div>
        </div>

        <div class="p-col-6">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="address6">6 Question </label>
                    <input id="address6" type="text" formControlName="sQue6" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="address6">Answer </label>
                    <textarea [rows]="2" [cols]="30" formControlName="sAns6" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>

            </div>
        </div>
        <div class="p-col-12">
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
        </div>

        <div class="p-col-6">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="address7">7 Question </label>
                    <input id="address7" type="text" formControlName="sQue7" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="address7">Answer </label>
                    <textarea [rows]="2" [cols]="30" formControlName="sAns7" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>

            </div>
        </div>

        <div class="p-col-6">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="address8">8 Question </label>
                    <input id="address8" type="text" formControlName="sQue8" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="address8">Answer </label>
                    <textarea [rows]="2" [cols]="30" formControlName="sAns8" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>

            </div>
        </div>

    </div>
    <div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-5"></div>
    <div class="p-grid form-group ui-fluid p-justify-end mt-3">
        <div class="p-col-12 p-md-22 p-lg-12 text-right">
            <button pButton type="button" label="Cancel" (click)="onClose()" class="ui-button-light atbt mr-2"></button>
            <button pButton type="submit" label="Save" class="ui-button atbt"></button>
        </div>
    </div>
</form>