<div class="p-grid ui-fluid">
    <div class="p-col-8">
        <div class="p-grid">
            <div class="p-col-12 p-lg-12">
                <div class="p-grid form-group">
                    <div class="p-col-12 p-md-6 p-lg-4 mb-2">
                        <label for="prdCategory">Select Parent Product Category</label>
                        <p-dropdown [options]="productCategValue" (onChange)="setPcId($event)" optionLabel="sPCName"
                            [(ngModel)]="selectedproductCategory">
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-4 mb-2 ">
                        <label for="product">Select Product Category Name</label>
                        <p-dropdown [options]="productData" optionLabel="sPCName" (onChange)="onProductChange($event)"
                            [(ngModel)]="selectedProduct">
                        </p-dropdown>

                    </div>

                </div>
            </div>

            <div class="p-col-12 p-lg-12">
                <p-table [value]="products" *ngIf="products">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3em">#</th>
                            <th>Product</th>
                            <th style="width: 15em"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-i="rowIndex" let-products>
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{products.sPrdName}}</td>
                            <td><i class="pi pi-arrow-circle-right" (click)="fetchProductData(products)"
                                    style="font-size: 1.8em; color: #76256e;"></i></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="p-col-4">
        <div class="p-grid">
            <div class="p-col-12">
                <form [formGroup]="createReqForm" autocomplete="off">
                    <div class="card download-files p-3 mb-2">
                        <div class="p-grid p-nogutter">

                            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <div class="card bg-success p-2">Product Category :
                                    <strong> {{parentCateName}}-{{productCateName}}
                                    </strong>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <div class="card bg-success p-2">Product : <strong> {{productName}} {{prodshortName}}
                                        {{unitName}}
                                    </strong>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <label for="partner">Partner</label>
                                <p-dropdown [options]="partner" optionLabel="sPartnerName"
                                    (onChange)="setPartnerId($event)" formControlName="sPartnerName"
                                    [(ngModel)]="selectedPartner"></p-dropdown>
                                <div>
                                    <p-message severity="error" text="Select partner is required"
                                        *ngIf="createReqForm.controls['sPartnerName'].touched  && (selectedPartner.iPartnerID=='' || createReqForm.controls['sPartnerName'].hasError('required'))">
                                    </p-message>

                                </div>
                            </div>

                            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <label for="location">Location</label>
                                <p-dropdown [options]="location" optionLabel="sLocName" formControlName="iPartLocID"
                                    [(ngModel)]="selectedpartnerLocation"></p-dropdown>
                                <div>
                                    <p-message severity="error" text="Select location is required"
                                        *ngIf="createReqForm.controls['iPartLocID'].touched  && (selectedpartnerLocation.iLocationID=='' || createReqForm.controls['iPartLocID'].hasError('required'))">
                                    </p-message>

                                </div>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <label for="qty">Quantity</label>
                                <input id="qty" type="text" formControlName="iQty" pInputText>
                                <p-message severity="error"
                                    [text]="createReqForm.controls['iQty'].errors['required'] ? 'This Field is required' : createReqForm.controls['iQty'].errors['pattern'] ? 'Please Enter Valid Quantity.' : ''"
                                    *ngIf="!createReqForm.controls['iQty'].valid && createReqForm.controls['iQty'].dirty">
                                </p-message>
                            </div>


                            <!-- <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                <label for="unit">Unit</label>
                <p-dropdown [options]="unit" [(ngModel)]="selectedUnit1"></p-dropdown>
            </div> -->

                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="p-col-12 p-md-2 p-lg-12 mt-3">
        <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
    </div>

    <div class="p-col-12 p-md-2 p-lg-12 text-right mt-1">
        <button pButton type="button" (click)="closeDialog()" label="Cancel"
            class="ui-button-light atbt mr-2 mb-2"></button>
        <button *ngIf="!isEdit" pButton type="submit" [disabled]="!(!createReqForm.invalid && !dropDownValidityCheck())"
            (click)="addnewRequisition()" label="Save" class="ui-button atbt mb-2"></button>
        <button *ngIf="isEdit" pButton type="submit" [disabled]="!(!createReqForm.invalid && !dropDownValidityCheck())"
            (click)="editRequisition()" label="Update" class="ui-button atbt mb-2"></button>
    </div>


</div>