<form [formGroup]="employeeForm" autocomplete="off">
    <div class="p-grid ui-fluid">
        <div class="p-col-12">
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sEmpCode">Employee Code</label>
                    <input id="sEmpCode" type="text" formControlName="sEmpCode" pInputText required>
                    <div>
                        <p-message severity="error"
                            [text]="employeeForm.controls['sEmpCode'].errors['Msg']"
                            *ngIf="!employeeForm.controls['sEmpCode'].valid&&employeeForm.controls['sEmpCode'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sFirstName">First Name</label>
                    <input id="sFirstName" type="text" formControlName="sFirstName" pInputText>
                    <div>
                        <p-message severity="error"
                            [text]="employeeForm.controls['sFirstName'].errors['Msg']"
                            *ngIf="!employeeForm.controls['sFirstName'].valid&&employeeForm.controls['sFirstName'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sMiddleName">Middle Name</label>
                    <input id="sMiddleName" type="text" formControlName="sMiddleName" pInputText>
                    <div>
                        <p-message severity="error"
                            [text]="employeeForm.controls['sMiddleName'].errors['Msg']"
                            *ngIf="!employeeForm.controls['sMiddleName'].valid&&employeeForm.controls['sMiddleName'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sLastName">Last Name</label>
                    <input id="sLastName" type="text" formControlName="sLastName" pInputText>
                    <div>
                        <p-message severity="error"
                            [text]="employeeForm.controls['sLastName'].errors['Msg']"
                            *ngIf="!employeeForm.controls['sLastName'].valid&&employeeForm.controls['sLastName'].dirty">
                        </p-message>
                    </div>
                </div>
            </div>
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sGender">Gender</label>
                    <p-dropdown formControlName="sGender" optionLabel="sKVValue" [options]="genderData"
                        [(ngModel)]="selectedgender"></p-dropdown>
                    <div>
                        <p-message severity="error" text="Gender is required"
                            *ngIf="employeeForm.controls['sGender'].touched  && (selectedgender.iKVID=='' || employeeForm.controls['sGender'].hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <label for="sFullAddress">Address</label>
                    <p-dropdown formControlName="sFullAddress" optionLabel="sAddress" id="sFullAddress"
                        [options]="addressData" [(ngModel)]="selectedsaddress"></p-dropdown>
                    <div>
                        <p-message severity="error" [text]="employeeForm.controls['sFullAddress'].errors['Msg']"
                            *ngIf="employeeForm.controls['sFullAddress'].touched  && (selectedsaddress.iAddID=='' || employeeForm.controls['sFullAddress'].hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sEmailID">Email ID</label>
                    <input id="sEmailID" formControlName="sEmailID" type="text" pInputText>
                    <div>
                        <p-message severity="error"
                            [text]="employeeForm.controls['sEmailID'].errors['required'] ? 'This field is required' : employeeForm.controls['sEmailID'].errors['email'] ? 'Enter a valid email id' : ''"
                            *ngIf="!employeeForm.controls['sEmailID'].valid&&employeeForm.controls['sEmailID'].dirty">
                        </p-message>
                    </div>
                </div>
            </div>
            <div class="separator separator--border-dashed separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sMobileNo">Mobile No.</label>
                    <input id="sMobileNo" formControlName="sMobileNo" type="text" pInputText>
                    <div>
                        <p-message severity="error"
                            [text]="employeeForm.controls['sMobileNo'].errors['Msg']"
                            *ngIf="!employeeForm.controls['sMobileNo'].valid&&employeeForm.controls['sMobileNo'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sContactNo">Contact No.</label>
                    <input id="sContactNo" formControlName="sContactNo" type="text" pInputText>
                    <div>
                        <p-message severity="error"
                            [text]="employeeForm.controls['sContactNo'].errors['Msg']"
                            *ngIf="!employeeForm.controls['sContactNo'].valid&&employeeForm.controls['sContactNo'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sDirect">Direct No.</label>
                    <input id="sDirect" formControlName="sDirect" type="text" pInputText>
                    <div>
                        <p-message severity="error"
                            [text]="employeeForm.controls['sDirect'].errors['Msg']"
                            *ngIf="!employeeForm.controls['sDirect'].valid&&employeeForm.controls['sDirect'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="iStatusID">Status</label>
                    <p-dropdown formControlName="iStatusID" optionLabel="sKVValue" id="iStatusID" [options]="statusData"
                        [(ngModel)]="selectedstatus"></p-dropdown>
                    <div>
                        <p-message severity="error" text="Status is required"
                            *ngIf="employeeForm.controls['iStatusID'].touched  && (selectedstatus.iKVID=='' || employeeForm.controls['iStatusID'].hasError('required'))">
                        </p-message>
                    </div>
                </div>
            </div>
            <div class="separator separator--border-dashed separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sDeptName">Department</label>
                    <p-dropdown (onChange)="setDepartmentId($event)" formControlName="sDeptName" optionLabel="sDeptName"
                        id="sDeptName" [options]="departmentData" [(ngModel)]="selecteddepartment">
                    </p-dropdown>
                    <div>
                        <p-message severity="error" text="Department is required"
                            *ngIf="employeeForm.controls['sDeptName'].touched && (selecteddepartment.iDeptID=='' || employeeForm.controls['sDeptName'].hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sDesigName">Designation</label>
                    <p-dropdown (onChange)="setDesignationId($event)" formControlName="sDesigName"
                        optionLabel="sDesigName" id="sDesigName" [options]="designationData"
                        [(ngModel)]="selecteddesignation"></p-dropdown>
                    <div>
                        <p-message severity="error" text="Designation is required"
                            *ngIf="employeeForm.controls['sDesigName'].touched  && (selecteddesignation.iDesigID=='' || employeeForm.controls['sDesigName'].hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sReportingTo">Reporting To</label>
                    <p-dropdown formControlName="sReportingTo" optionLabel="sReportingTo" id="sReportingTo"
                        [options]="reportingToData" [(ngModel)]="selectedreportingTo"></p-dropdown>
                    <div>
                        <p-message severity="error" text="Reporting To is required"
                            *ngIf="employeeForm.controls['sReportingTo'].touched  && (selectedreportingTo.iEmpID=='' || employeeForm.controls['sReportingTo'].hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <label for="sRoleName">Role</label>
                    <p-dropdown formControlName="sRoleName" optionLabel="sRoleName" id="sRoleName" [options]="roleData"
                        [(ngModel)]="selectedrole"></p-dropdown>
                    <div>
                        <p-message severity="error" text="Role is required"
                            *ngIf="employeeForm.controls['sRoleName'].touched  && (selectedstatus.iRoleID=='' || employeeForm.controls['sRoleName'].hasError('required'))">
                        </p-message>
                    </div>
                </div>
            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid p-justify-end">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" (click)="closeDialog()" label="Cancel" style="margin-bottom:10px"
                        class="ui-button-light atbt mr-2"></button>
                    <button *ngIf="!isEdit" pButton type="button" label="Save"
                        [disabled]="!(!employeeForm.invalid && !dropDownValidityCheck())" (click)="addEmployee()"
                        class="ui-button atbt"></button>

                    <button *ngIf="isEdit" pButton type="button"
                        [disabled]="!(!employeeForm.invalid && !dropDownValidityCheck())" label="Update"
                        (click)="updateEmployee()" class="ui-button atbt"></button>
                </div>
            </div>
        </div>
    </div>
</form>