<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Delivery List</h1>
                </div>
            <div class="p-col-12 mt-3"> 

                <p-table [columns]="cols" [value]="cars" dataKey="vin" [paginator]="true"
        [rows]="10" [totalRecords]="cars.length" pageLinkSize="3" (onPage)="onPage($event)"
            (onRowExpand)="onRowExpand()" (onRowCollapse)="onRowCollapse()" 
            [expandedRowKeys]="expandedRows">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em">
                    <a style="cursor: pointer;font-size: 16px; color:teal;" (click)="expandAll()"><i
                    *ngIf="!isExpanded" class="fa fa-plus-circle" aria-hidden="true"></i>
                <i *ngIf="isExpanded" class="fa fa-minus-circle" aria-hidden="true"></i></a>
                </th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
            <tr>
                <td>
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                    <button pButton type="button" class="ui-button-danger mr-1" icon="pi pi-file-pdf" title="View Invoice"></button> 
                    <button pButton type="button" class="ui-button-danger mr-1" icon="pi pi-times" title="Cancel Invoice"></button>                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
                <td [attr.colspan]="columns.length + 2">
                    <div class="ui-g ui-fluid" style="font-size:14px;padding:8px">
                        <div class="ui-g-12 ui-md-12">
                            <p-table [value]="orderDetail">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Invoice NO</th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th>Discount Amount</th>
                                        <th>Total Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-orderDetail>
                                    <tr> 
                                        <td>{{orderDetail.prdName}}</td>
                                        <td>{{orderDetail.invoiceNo}}</td>
                                        <td>{{orderDetail.qty}}</td>
                                        <td>{{orderDetail.rate}}</td>
                                        <td>{{orderDetail.amount}}</td>
                                        <td>{{orderDetail.discAmt}}</td>
                                        <td>{{orderDetail.totalAmt}}</td>
                                        <td>
                                            <button pButton type="button" class="ui-button-danger mr-1" icon="pi pi-times" title="Cancel Invoice"></button> 
                                            <button  (click)="openDialogForUpdatePOD()" pButton type="button" class="ui-button-success" label="Update POD" ></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
</p-table>
            </div>              
        </div> 

                                
        </div>
    </div>
</div>
