<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Delivery List</h1>
                </div>
                <div class="p-col-12 mt-3">

                    <p-table [columns]="cols" #deliverySearch [value]="deliveryList" dataKey="iSOID" [paginator]="false"
                        [rows]="10" [totalRecords]="deliveryList.length" pageLinkSize="3" (onPage)="onPage($event)"
                        (onRowExpand)="onRowExpand()" (onRowCollapse)="onRowCollapse()" [expandedRowKeys]="expandedRows"
                        [globalFilterFields]="['sSONo','sCustomerName','sAddress']">
                        <ng-template pTemplate="caption">
                            <div class="ui-table-globalfilter-container text-left">
                                <input type="text" pInputText size="50" placeholder="Search"
                                    (input)="deliverySearch.filterGlobal($event.target.value,'contains')"
                                    style="width: 250px;" />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 3em">
                                    <a style="cursor: pointer;font-size: 16px; color:teal;" (click)="expandAll()"><i
                                            *ngIf="!isExpanded" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i *ngIf="isExpanded" class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                </th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                            <tr>
                                <td>
                                    <a href="#" (click)="getDeliveryChildList(rowData.iSOID)" [pRowToggler]="rowData">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                </td>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                                <td>
                                    <button pButton type="button" class="ui-button-danger mr-1" icon="pi pi-file-pdf"
                                        title="View Invoice"></button>
                                    <button pButton type="button" class="ui-button-danger mr-1" icon="pi pi-times"
                                        title="Cancel Invoice"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                            <tr>
                                <td [attr.colspan]="columns.length + 2">
                                    <div class="ui-g ui-fluid" style="font-size:14px;padding:8px">
                                        <div class="ui-g-12 ui-md-12">
                                            <p-table [value]="deliveryChildList">
                                                <ng-template pTemplate="header">
                            <tr>
                                <th>Product Name</th>
                                <th>Invoice NO</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Amount</th>
                                <th>Discount Amount</th>
                                <th>Total Amount</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-deliveryChildList>
                            <tr>
                                <td>{{deliveryChildList.sPrdName}} {{deliveryChildList.sVariant}}</td>
                                <td>{{deliveryChildList.sInvoiceNo}}</td>
                                <td>{{deliveryChildList.iQty}}</td>
                                <td>{{deliveryChildList.nRate}}</td>
                                <td>{{deliveryChildList.nAmount}}</td>
                                <td>{{deliveryChildList.nDisAmt}}</td>
                                <td>{{deliveryChildList.nTotalAmt}}</td>
                                <td>
                                    <button pButton type="button" class="ui-button-danger mr-1" icon="pi pi-times"
                                        title="Cancel Invoice"></button>
                                    <button (click)="openDialogForUpdatePOD()" pButton type="button"
                                        class="ui-button-success" label="Update POD"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            </td>
            </tr>
            </ng-template>
            </p-table>
        </div>
    </div>


</div>
</div>
</div>