<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Purchase Order Approval</h1>
                </div>
                <div class="p-col-12 mt-3">
                    <p-table [columns]="cols" [value]="poList" #search [paginator]="false" [rows]="10"
                        [showCurrentPageReport]="true" pageLinkSize="3" [rowsPerPageOptions]="[10, 25, 50]"
                        [filterDelay]="0" (onPage)="onPage($event)" expandableRows="true" rowExpandMode="single"
                        [responsive]="true" [globalFilterFields]="['sPONo','sPODate','sSupName','sCreatedBy']"
                        dataKey="iPOID" (onRowExpand)="onRowExpand()" (onRowCollapse)="onRowCollapse()"
                        [expandedRowKeys]="expandedRows">
                        <ng-template pTemplate="caption">
                            <div class="ui-table-globalfilter-container text-left">
                                <input type="text" pInputText size="50" placeholder="Search"
                                    (input)="search.filterGlobal($event.target.value,'contains')"
                                    style="width: 250px;" />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3em"> <a style="cursor: pointer;font-size: 16px; color:teal;"
                                        (click)="expandAll()"><i *ngIf="!isExpanded" class="fa fa-plus-circle"
                                            aria-hidden="true"></i>
                                        <i *ngIf="isExpanded" class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                </th>
                                <th>Supplier PO</th>
                                <th>Supplier PO Date</th>
                                <th>Supplier Name</th>
                                <th>Warehouse</th>
                                <th>Currency</th>
                                <th>Include Taxes</th>
                                <th>Status</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-poListData let-expanded="expanded">
                            <tr>
                                <td>
                                    <a href="#" (click)="getPOChildList(poListData.iPOID)" [pRowToggler]="poListData">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                </td>
                                <td>{{poListData.sPONo}}</td>
                                <td><span *ngIf="poListData.sPODate != '0000-00-00' && poListData.sPODate != ''">
                                        {{poListData.sPODate | date: 'dd-MM-yyyy'}}</span></td>
                                <td>{{poListData.sSupName}}</td>
                                <td>{{poListData.sWarehouse}}</td>
                                <td>{{poListData.sCurrencyName}}</td>
                                <td>

                                    <p-checkbox *ngIf="poListData.iIncludeTaxes==1" value="poListData.iIncludeTaxes"
                                        readonly=true [(ngModel)]="checked" binary="true">
                                    </p-checkbox>


                                </td>
                                <td>
                                    <span
                                        class="badge badge--warning badge--inline badge--pill">{{poListData.sStatusName}}
                                    </span>
                                </td>
                                <td>{{poListData.sCreatedBy}}</td>
                                <td>
                                    <button pButton type="button" class="ui-button-success mr-1"
                                        (click)="approvePO(poListData.iPOID)" icon="pi pi-check"
                                        title="Appprove"></button>
                                    <button pButton type="button" class="ui-button-danger mr-1"
                                        (click)="rejectDialoBox(poListData)" icon="pi pi-times" title="Reject"></button>

                                    <button pButton type="button" class="ui-button-success mr-1" icon="pi pi-paperclip"
                                        title="View Attachments"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion">
                            <tr>
                                <td [attr.colspan]="9">
                                    <div class="ui-g ui-fluid" style="font-size:14px;padding:8px">
                                        <div class="ui-g-12 ui-md-12">
                                            <p-table [value]="batch">
                                                <ng-template pTemplate="header">

                            <tr>
                                <th>Requisition No.</th>
                                <th>Product Category Name</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Gross Amount</th>
                                <th>Discount %</th>
                                <th>Discount Amount</th>
                                <th>Total Amount</th>


                            </tr>



                        </ng-template>
                        <ng-template pTemplate="body" let-batch>
                            <tr>
                                <td>{{batch.sRequisionNo}}</td>
                                <td>{{batch.sParentCatName}} {{batch.sPCName}}</td>
                                <td>{{batch.sPrdName}} {{batch.sVariant}} </td>
                                <td>{{batch.iQty}}</td>
                                <td>{{batch.iRate}}</td>
                                <td>{{batch.iGrossAmt}}</td>
                                <td>{{batch.iDiscountPercentage}}</td>
                                <td>{{batch.iDiscountAmt}}</td>
                                <td>{{batch.iTotalAmt}}</td>


                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            </td>
            </tr>
            </ng-template>
            </p-table>
        </div>
        <div class="noRecordsFound" *ngIf="!poList.length">{{noRecordFound}}</div>
    </div>
</div>
</div>
</div>