<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">GRN Approve</h1>
                </div>
                <div class="p-col-12 mt-3">

                    <p-table [columns]="cols" #search [value]="grnList" dataKey="iPOPrdID" [paginator]="false"
                        [rows]="10" [totalRecords]="cars.length" pageLinkSize="3" (onPage)="onPage($event)"
                        [globalFilterFields]="['sPONo','sPODate','sSupName','sRequisionNo','sPrdName']"
                        [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0" [showCurrentPageReport]="true"
                        rowExpandMode="single" (onRowExpand)="onRowExpand()" (onRowCollapse)="onRowCollapse()"
                        [expandedRowKeys]="expandedRows">
                        <ng-template pTemplate="caption">
                            <div class="ui-table-globalfilter-container text-left">
                                <input type="text" pInputText size="50" placeholder="Search"
                                    (input)="search.filterGlobal($event.target.value,'contains')"
                                    style="width: 250px;" />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 3em">
                                    <a style="cursor: pointer;font-size: 16px; color:teal;" (click)="expandAll()"><i
                                            *ngIf="!isExpanded" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i *ngIf="isExpanded" class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                </th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th>Scheduled Date</th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                            <tr>
                                <td>
                                    <a href="#" (click)="getPOChildList(rowData.iPOPrdID)" [pRowToggler]="rowData">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                </td>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                                <td> {{rowData.sScheduledDate | date: 'dd-MM-yyyy'}}</td>

                                <!-- <td>
                                    <button pButton type="button" class="ui-button-success mr-1" icon="pi pi-check"
                                        (click)="approvedGRN(rowData.iGRNID)" title="Appprove"></button>
                                    <button pButton type="button" class="ui-button-danger" icon="pi pi-times"
                                       (click)="rejectDialoBox()" title="Reject"></button>
                                </td> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                            <tr>
                                <td [attr.colspan]="columns.length + 2">
                                    <div class="ui-g ui-fluid" style="font-size:14px;padding:8px">
                                        <div class="ui-g-12 ui-md-12">
                                            <p-table [value]="batch">
                                                <ng-template pTemplate="header">
                            <tr>
                                <th>Batch/Lot No.</th>
                                <th>Receive Qty</th>
                                <th>POD No</th>
                                <th>POD Date</th>
                                <th>Manufacturing Date</th>
                                <th>Expire Date</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-batch>
                            <tr>

                                <td>{{batch.sBatchNo}}</td>
                                <td>{{batch.iReceivedQty}}</td>
                                <td>{{batch.sPODNo}}</td>
                                <td>{{batch.sPODDate | date: 'dd-MM-yyyy'}}</td>
                                <td>{{batch.sManufacturingDate | date: 'dd-MM-yyyy'}}</td>
                                <td>{{batch.sExpireDate | date: 'dd-MM-yyyy' }}</td>
                                <td>
                                    <button pButton type="button" class="ui-button-success mr-1" icon="pi pi-check"
                                        (click)="approvedGRN(batch.iGRNID)" title="Appprove"></button>
                                    <button pButton type="button" class="ui-button-danger" icon="pi pi-times"
                                        (click)="rejectDialoBox(batch)" title="Reject"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            </td>
            </tr>
            </ng-template>
            </p-table>
        </div>
    </div>


</div>
</div>
</div>