<div class="p-grid ui-fluid">
    <form [formGroup]="ProductCategoryForm">
        <div class="p-col-12">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="sPCName">Product Category Name</label>
                    <input id="sPCName" type="text" formControlName="sPCName" pInputText>
                    <div>
                        <p-message severity="error" [text]="ProductCategoryForm.controls['sPCName'].errors['Msg']"
                            *ngIf="!ProductCategoryForm.controls['sPCName'].valid && (ProductCategoryForm.controls['sPCName'].dirty || ProductCategoryForm.controls['sPCName'].touched)">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12">
                    <label for="iParentID">Parent Category</label>
                    <p-dropdown id="iParentID" formControlName="iParentID" [options]="parentCatData"
                        optionLabel="sPCName"></p-dropdown>
                    <div>
                        <p-message severity="error" [text]="ProductCategoryForm.controls['iParentID'].errors['Msg']"
                            *ngIf="!ProductCategoryForm.controls['iParentID'].valid && ProductCategoryForm.controls['iParentID'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="p-col-12">
                    <label for="iStatusID">Status</label>
                    <p-dropdown id="iStatusID" formControlName="iStatusID" [options]="statusData"
                        optionLabel="sKVValue"></p-dropdown>
                    <div>
                        <p-message severity="error" [text]="ProductCategoryForm.controls['iStatusID'].errors['Msg']"
                            *ngIf="!ProductCategoryForm.controls['iStatusID'].valid && ProductCategoryForm.controls['iStatusID'].dirty">
                        </p-message>
                    </div>
                </div>
            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" class="ui-button-light atbt mr-2"
                        (click)="closeDialog()"></button>
                    <button *ngIf="!isEdit" pButton type="button" label="Save"
                        [disabled]="!(!ProductCategoryForm.invalid)" class="ui-button atbt"
                        (click)="addProductCategory()"></button>
                    <button *ngIf="isEdit" pButton type="button" label="Update"
                        [disabled]="!(!ProductCategoryForm.invalid )" class="ui-button atbt"
                        (click)="editProductCategory()"></button>
                </div>
            </div>
        </div>
    </form>
</div>