<form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
  <div class="p-grid ui-fluid">
    <div class="p-col-12">
      <div class="p-grid form-group">
        <div class="p-col-12 p-md-6 p-lg-6">
          <label for="bankName">Bank Name</label>
          <input
            id="bankName"
            type="text"
            pInputText
            formControlName="bank_name"
          />
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
          <label for="middleName">Short Code/Account Type</label>
          <input
            id="middleName"
            type="text"
            pInputText
            formControlName="short_code"
          />
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
          <label for="lasteName">Account No</label>
          <input
            id="lasteName"
            type="text"
            pInputText
            formControlName="account_no"
          />
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
          <label for="lasteName">IFSC</label>
          <input
            id="lasteName"
            type="text"
            pInputText
            formControlName="ifsc_code"
          />
        </div>
        <div class="p-col-12 p-md-12 p-lg-12">
          <label for="bankBranch">Bank Branch</label>
          <textarea
            rows="3"
            pInputTextarea
            autoResize="autoResize"
            formControlName="bank_branch"
          ></textarea>
        </div>
      </div>
      <div
        class="separator separator--border-dashed separator--space-sm separator--portlet-fit"
      ></div>
      <div class="p-grid form-group">
        <div class="p-col-12 p-md-6 p-lg-6">
          <label for="status">Status</label>
          <p-dropdown
            id="status"
            [options]="statusData"
            optionLabel="sKVValue"
            formControlName="status"
            editable="true"
            placeholder="select"
          ></p-dropdown>
        </div>
      </div>

      <div
        class="separator separator--border-solid separator--space-sm separator--portlet-fit"
      ></div>
      <div class="p-grid form-group ui-fluid p-justify-end">
        <div class="p-col-12 p-md-2 p-lg-1">
          <button
            pButton
            type="button"
            label="Cancel"
            style="margin-bottom: 10px;"
            class="ui-button-light"
          ></button>
        </div>
        <div class="p-col-12 p-md-2 p-lg-1">
          <button
            pButton
            type="submit"
            label="Save"
            style="margin-bottom: 10px;"
            class="ui-button"
            [disabled]="!bankForm.valid"
          ></button>
        </div>
      </div>
    </div>
  </div>
</form>
