<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-body">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Purchase Requisition <button pButton type="button" label={{req_no_display}}
                            class="ui-button-raised ui-button-light"
                            routerLink="/purchase-order/product-requisition"></button></h1>
                </div>
                <div class="p-col-12">
                    <div class="card download-files p-4 mb-2">
                        <div class="p-grid p-nogutter">
                            <p-table [value]="requisitionData">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Requisition No.</th>
                                        <th>Product Category</th>
                                        <th>Product</th>
                                        <th>Partner</th>
                                        <th>Location</th>
                                        <th>Quantity</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-requisition>
                                    <tr>
                                        <td>{{requisition.sRequisionNo}}</td>
                                        <td>{{requisition.sPCName}}</td>
                                        <td>{{requisition.sPrdName}} {{requisition.sVariant}}
                                            {{requisition.sUnitSymbol}}</td>
                                        <td>{{requisition.sPartnerName}}</td>
                                        <td>{{requisition.sLocName}}</td>
                                        <td>{{requisition.iQty}}</td>
                                        <td>{{requisition.sCreatedBy}}</td>
                                        <td>{{requisition.sCreatedDate | date:"dd-MM-yyyy"}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
                <div class="p-col-8">
                    <p-table [value]="supplierData">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>#</th>
                                <th>Supplier</th>
                                <th>Rate</th>
                                <th>Default</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-supplierData let-ri="rowIndex">
                            <tr>
                                <td>
                                    <p-checkbox name="groupname" value={{supplierData.iSupID}}
                                        [(ngModel)]="selectedValues" (onChange)="checkBoxValidation(supplierData)"
                                        (click)="orderRequisitionForm.reset()"></p-checkbox>
                                </td>
                                <td>{{supplierData.sSupName}}</td>
                                <td>{{supplierData.iPurchaseAmt}}</td>
                                <td>
                                    <span *ngIf="supplierData.iIsDefault == 1">
                                        Yes
                                    </span>
                                    <span *ngIf="supplierData.iIsDefault == 0">
                                        No
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="p-col-4 card download-files">
                    <form #orderRequisitionForm="ngForm">
                        <div class="p-grid form-group">
                            <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                <label for="discountPercentage">Discount %</label>
                                <input id="discountPercentage" [disabled]="isDisableDiscount" name="discountPercentage"
                                    #discountPercentage="ngModel" [(ngModel)]="discountPer" type="text" pInputText
                                    (change)="calculateTotalPrice()" required>
                                <p-message severity="error" text="This Field is required"
                                    *ngIf="!discountPercentage.valid && (discountPercentage.dirty || discountPercentage.touched)">
                                </p-message>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                <label for="discountAmount">Discount</label>
                                <input id="discountAmount" name="discountAmount" [(ngModel)]="discountAmount"
                                    type="text" pInputText disabled>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                <label for="discountAmountEach">Amount per Qty.</label>
                                <input id="discountAmountEach" name="discountAmountEach"
                                    [(ngModel)]="discountAmountEach" type="text" pInputText disabled>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12 mb-1">
                                <label for="totalAmount">Total Amount for {{totalquantity}} Qty.</label>
                                <input id="totalAmount" name="totalAmount" [(ngModel)]="totalAmount" type="text"
                                    pInputText disabled>
                            </div>
                        </div>
                    </form>
                    <div class="p-col-12 p-md-2 p-lg-12">
                        <div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-0">
                        </div>
                    </div>
                    <div class="p-col-12 p-md-2 p-lg-12 text-right mt-0">
                        <button pButton type="button" label="Cancel" routerLink="/purchase-order/product-requisition"
                            class="ui-button-light atbt mr-2 mb-2"></button>
                        <button pButton type="submit"
                            [disabled]="isDisable || orderRequisitionForm.untouched || orderRequisitionForm.invalid"
                            label="Save" class="ui-button atbt mb-2" (click)="saveOrderRequisition()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>