<div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-4 p-lg-4 p-col-align-start">
        <div class="card bg-success p-2">Product : <strong>{{product_name}} {{variant_name}}</strong></div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-4 p-col-align-start">
        <div class="card bg-success p-2">Quantity : <strong>
                {{quantity}}</strong></div>
    </div>
    <div class="p-col-12">
        <div class="p-grid p-nogutter">
            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                <p-table [value]="batch">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Batch / Lot No.</th>
                            <th>Expiry Date </th>
                            <th>Quantity</th>
                            <th>Allocate Quantity</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-batch let-ri="rowIndex">
                        <tr>
                            <td>{{batch.sBatchNo}}</td>
                            <td>{{batch.sExpireDate | date: 'dd-MM-yyyy'}}</td>
                            <td>{{batch.iQty}}</td>
                            <td>
                                <input type="number" pInputText [(ngModel)]="batch.alocQuantity"
                                    (change)="changeAllocQty(batch.alocQuantity,ri)" />
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="3"><b>Total</b></td>
                            <td><b>{{showmeAdd}}</b></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="p-col-12 p-md-2 p-lg-12">
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-2"></div>
        </div>
        <div class="p-col-12 p-md-2 p-lg-12 text-right mt-0">
            <button pButton type="button" label="Cancel" (click)="close()"
                class="ui-button-light atbt mr-2 mb-2"></button>
            <button pButton type="submit" label="Allocate" [disabled]="isdisabled" (click)="saveAllocate()"
                class="ui-button atbt mb-2"></button>
        </div>
    </div>
</div>