<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Requisition</h1>
            <p-tabView>
                <!-- Order Requisition starts here-->
                <p-tabPanel header="Order Requisition">
                    <div class="p-grid ui-fluid vertical-container">
                        <div class="p-col-12 p-col-align-end text-right">
                            <button pButton type="button" (click)="openDialogForCreateReq()" label="Create Requisition"
                                class="ui-button-raised ui-button atbt"></button>
                        </div>
                        <div class="p-col-12 mt-3">
                            <p-table [value]="orderReq" #search [paginator]="true" [rows]="10"
                                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                                [globalFilterFields]="[
                              'sRequisionNo',
                              'sPCName',
                              'sPrdName',
                              'sPartnerName',
                              'sLocName',
                              'iQty',
                              'sCreatedBy',
                              'sCreatedDate'
                            ]">
                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="
                                      search.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                      )
                                    " style="width: 250px;" />
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3em">#</th>
                                        <th>Requisition No.</th>
                                        <th>Product Category</th>
                                        <th>Product</th>
                                        <th>Partner</th>
                                        <th>Location</th>
                                        <th>Quantity</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-orderReq let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex + 1}}</td>
                                        <td>{{orderReq.sRequisionNo}}</td>
                                        <td>{{orderReq.sPCName}}</td>
                                        <td>{{orderReq.sPrdName}}</td>
                                        <td>{{orderReq.sPartnerName}}</td>
                                        <td>{{orderReq.sLocName}}</td>
                                        <td>{{orderReq.iQty}}</td>
                                        <td>{{orderReq.sCreatedBy}}</td>
                                        <td>{{orderReq.sCreatedDate | date:"dd-MM-yyyy"}}</td>
                                        <td>
                                            <button pButton type="button" class="ui-button-success mr-1"
                                                (click)="openDialogForEditReq(orderReq)" icon="pi pi-pencil"
                                                title="Edit"></button>
                                            <button pButton type="button" class="ui-button-danger mr-1"
                                                (click)="deleteOrderReq(orderReq.iPReqID)" icon="pi pi-trash"
                                                title="Delete"></button>
                                            <button routerLink="/purchase-order/map-supplier" pButton type="button"
                                                class="ui-button-success" icon="pi pi-sitemap"
                                                (click)="mapSupplier(orderReq)" title="Map Supplier"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Order Requisition ends here-->

                <!-- Product Requisition starts here-->
                <p-tabPanel header="Product Requisition">
                    <div class="p-grid ui-fluid vertical-container">
                        <div class="p-col-12 mt-3">
                            <p-table [value]="productReq" #searchProduct [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                            [globalFilterFields]="[
                          'sRequisionNo',
                          'sPCName',
                          'sPrdName',
                          'iReqCnt',
                          'sLocName',
                          'iQty'
                        ]">
                        <ng-template pTemplate="caption">
                            <div class="ui-table-globalfilter-container text-left">
                                <input type="text" pInputText size="50" placeholder="Search" (input)="
                                searchProduct.filterGlobal(
                                $event.target.value,
                                'contains'
                              )
                            " style="width: 250px;" />
                            </div>
                        </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3em">#</th>
                                        <th>Product Category</th>
                                        <th>Product</th>
                                        <th>Requisition Count</th>
                                        <th>Quantity</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-productReq let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex + 1}}</td>
                                        <td>{{productReq.sPCName}}</td>
                                        <td>{{productReq.sPrdName}}</td>
                                        <td>{{productReq.iReqCnt}}</td>
                                        <td>{{productReq.iQty}}</td>
                                        <td>
                                            <button routerLink="/purchase-order/map-supplier-multi-req" pButton
                                                type="button" class="ui-button-success" icon="pi pi-sitemap"
                                                (click)="mapProduct(productReq)" title="Map Product"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Product Requisition ends here-->
            </p-tabView>
        </div>
    </div>
</div>