<form #id [formGroup]="DepartmentSubmit" autocomplete="off">
    <div class="p-grid ui-fluid">
        <div class="p-col-12">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="departmentname">Department Name</label>
                    <input id="departmentname" type="text" formControlName="sDeptName" pInputText>
                    <p-message severity="error" [text]="DepartmentSubmit.controls['sDeptName'].errors['Msg']"
                        *ngIf="!DepartmentSubmit.controls['sDeptName'].valid && DepartmentSubmit.controls['sDeptName'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <label for="iStatusID">Status</label>
                    <p-dropdown id="iStatusID" [options]="statusData" formControlName="status" optionLabel="sKVValue">
                    </p-dropdown>
                    <!-- <p-message severity="error" text="select Status is required"
                        *ngIf="!DepartmentSubmit.controls['status'].valid && DepartmentSubmit.controls['status'].dirty">
                    </p-message> -->
                    <p-message severity="error" [text]="DepartmentSubmit.controls['status'].errors['Msg']"
                        *ngIf="!DepartmentSubmit.controls['status'].valid && DepartmentSubmit.controls['status'].dirty">
                    </p-message>
                    <!-- <div *ngIf="status.hasError('removeSpaceFromUserName')">
                        removeSpaceFromUserName </div> -->
                    <!-- <p-message severity="error" text="select Status is required"
                        *ngIf=" status.hasError('removeSpaceFromUserName')">
                    </p-message> -->
                </div>
            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid">
                <div class="p-md-6 p-lg-6"></div>
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" class="ui-button-light atbt mr-2"
                        (click)="close()"></button>
                    <button *ngIf="!isEdit" pButton type="submit" label="Save"
                        [disabled]="!(!DepartmentSubmit.invalid && !dropDownValidityCheck())" (click)="addDepartment()"
                        class="ui-button atbt"></button>
                    <button *ngIf="isEdit" pButton type="submit" label="Update"
                        [disabled]="!(!DepartmentSubmit.invalid && !dropDownValidityCheck())" (click)="editDepartment()"
                        class="ui-button atbt"></button>
                </div>
            </div>
        </div>
    </div>
</form>