
    <div class="p-grid ui-fluid">
        <div class="p-col-12"> 
    
            <div class="p-grid form-group">
               
                <div class="p-col-12">
                    <label for="departmentname">Department Name</label>
                    <input id="departmentname" type="text" pInputText>
                </div>
    
            <div class="p-col-12">
            <div class="separator separator--border-dashed separator--space-sm separator--portlet-fit"></div>
        </div>
    
           
                <div class="p-col-12">
                    <label for="status">Status</label>
                    <p-dropdown id="status" [options]="status" [(ngModel)]="selectedstatus"></p-dropdown>
                </div>
    
            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid">
                <div class="p-md-6 p-lg-6"></div>
                <div class="p-col-12 p-md-3 p-lg-3">
                    <button pButton type="button" label="Cancel" style="margin-bottom:10px" class="ui-button-light"></button>
                </div>
                 <div class="p-col-12 p-md-3 p-lg-3">
                    <button pButton type="button" label="Save" style="margin-bottom:10px" class="ui-button"></button>
                </div>
            </div>

        </div>
       
    </div>