<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Supplier</h1>
                </div>
                <div class="p-col-1 p-col-align-end text-center">
                    <button routerLink="/supplier/new-supplier" pButton icon="pi pi-fw pi-plus"
                        label="Add New"></button>
                </div>
                <div class="p-col-12">
                    <p-table #dt [value]="supplier" [resizableColumns]="true" [rowHover]="true" [paginator]="true"
                        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                        [globalFilterFields]="['sSupName','sPAN','sStatusName']">
                        <ng-template pTemplate="caption">
                            <div class="ui-table-globalfilter-container text-left">
                                <input type="text" pInputText size="50" placeholder="Search"
                                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Supplier Name</th>
                                <th>Supplier Category</th>
                                <th>Short Code</th>
                                <th>Legal Entity</th>
                                <th>Website</th>
                                <th>Tel 1</th>
                                <th>Tel 2</th>
                                <th>Fax</th>
                                <th>Pan</th>
                                <th>Status</th>
                                <th style="width: 15em;">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-supplier>
                            <tr>
                                <td>{{supplier.sSupName}}</td>
                                <td>{{supplier.supplierCat}}</td>
                                <td>{{supplier.sShortCode}}</td>
                                <td style="width: 2em;">{{supplier.sLegalEntity}}</td>
                                <td>{{supplier.sWebsite}}</td>
                                <td>{{supplier.sTelNo1}}</td>
                                <td>{{supplier.sTelNo2}}</td>
                                <td>{{supplier.sFaxNo}}</td>
                                <td>{{supplier.sPAN}}</td>
                                <td>
                                    <span *ngIf="supplier.iStatusID == 1"
                                        class="badge badge--success badge--inline badge--pill">
                                        {{supplier.sStatusName}}
                                    </span>
                                    <span *ngIf="supplier.iStatusID == 2"
                                        class="badge badge--warning badge--inline badge--pill">
                                        {{supplier.sStatusName}}
                                    </span>
                                    <span *ngIf="supplier.iStatusID == 3"
                                        class="badge badge--danger badge--inline badge--pill">
                                        {{supplier.sStatusName}}
                                    </span>
                                </td>
                                <td>
                                    <button pButton type="button" id="sSupplier_product_mapping_btn" (click)="prdmapSupplier(supplier.iSupID)"
                                        class="ui-button-success mr-2" icon="pi  pi-sitemap"
                                        title="Product Map" *ngIf = "prdMapBtn"></button>
                                    <button pButton type="button" id="sSupplier_edit_btn" (click)="editSupplier(supplier.iSupID)"
                                        class="ui-button-success mr-2" icon="pi pi-pencil" title="Edit" *ngIf = "editBtn"></button>
                                    <button pButton type="button" id="sSupplier_delete_btn" (click)="deleteSupplier(supplier)"
                                        class="ui-button-danger mr-2" icon="pi pi-trash" title="Delete" *ngIf = "deleteBtn"></button>
                                    <button pButton type="button" id="sSupplier_send_for_approval_btn" class="ui-button-success"
                                        icon="pi pi-arrow-circle-right" title="Send for approval" *ngIf = "sendForApprovalBtn"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>