<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Partner</h1>
            <p-tabView [activeIndex]="index">
                <!--Partner Tab Start here-->
                <p-tabPanel header="Partner">
                    <form [formGroup]="PartnerForm" autocomplete="off">
                        <div class="p-grid ui-fluid  p-justify-end mt-3">
                            <div class="p-col-12">
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="sPartnerName">Partner Name</label>
                                        <input id="sPartnerName" type="text" formControlName="sPartnerName"
                                            class="form-control" pInputText>
                                        <p-message severity="error"
                                            [text]="PartnerForm.controls['sPartnerName'].errors['Msg']"
                                            *ngIf="!PartnerForm.controls['sPartnerName'].valid && PartnerForm.controls['sPartnerName'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="sShortCode">Short Code</label>
                                        <input id="sShortCode" type="text" formControlName="sShortCode"
                                            class="form-control" pInputText>
                                        <p-message severity="error"
                                            [text]="PartnerForm.controls['sShortCode'].errors['Msg']"
                                            *ngIf="!PartnerForm.controls['sShortCode'].valid && PartnerForm.controls['sShortCode'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="iLegalEntityID">Legal Entity ID</label>
                                        <p-dropdown id="iLegalEntityID" [options]="entityData" optionLabel="sKVValue"
                                            formControlName="iLegalEntityID" [(ngModel)]="selectedEntity"></p-dropdown>
                                        <p-message severity="error" text="Legal Entity is required"
                                            *ngIf="PartnerForm.controls['iLegalEntityID'].touched && (selectedEntity.iKVID=='' || PartnerForm.controls['iLegalEntityID'].hasError('required'))">
                                        </p-message>
                                    </div>
                                </div>
                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit">
                                </div>
                                <div class="p-grid form-group">
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="sTelNo1">Tel No. 1</label>
                                        <input id="sTelNo1" class="form-control" type="text" formControlName="sTelNo1"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="PartnerForm.controls['sTelNo1'].errors['Msg']"
                                            *ngIf="!PartnerForm.controls['sTelNo1'].valid && PartnerForm.controls['sTelNo1'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="sTelNo2">Tel No. 2</label>
                                        <input id="sTelNo2" class="form-control" type="text" formControlName="sTelNo2"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="PartnerForm.controls['sTelNo2'].errors['Msg']"
                                            *ngIf="!PartnerForm.controls['sTelNo2'].valid && PartnerForm.controls['sTelNo2'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="sFaxNo">Fax No.</label>
                                        <input id="sFaxNo" class="form-control" type="text" formControlName="sFaxNo"
                                            pInputText>
                                        <p-message severity="error"
                                            [text]="PartnerForm.controls['sFaxNo'].errors['Msg'] "
                                            *ngIf="!PartnerForm.controls['sFaxNo'].valid && PartnerForm.controls['sFaxNo'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3 mb-2">
                                        <label for="sPAN">PAN No.</label>
                                        <input id="sPAN" class="form-control" type="text" formControlName="sPAN"
                                            pInputText>
                                        <p-message severity="error" [text]="PartnerForm.controls['sPAN'].errors['Msg'] "
                                            *ngIf="!PartnerForm.controls['sPAN'].valid && PartnerForm.controls['sPAN'].dirty">
                                        </p-message>
                                    </div>
                                </div>

                                <div
                                    class="separator separator--border-solid separator--space-sm separator--portlet-fit mt-5">
                                </div>
                                <div class="p-grid form-group ui-fluid p-justify-end mt-3">
                                    <div class="p-col-12 p-md-12 p-lg-12 text-right">
                                        <button pButton type="button" routerLink="/partner" label="Cancel"
                                            class="ui-button-light atbt mr-2"></button>
                                        <button *ngIf="!isEdit" pButton type="button" label="Save"
                                            [disabled]="!(!PartnerForm.invalid && !dropDownValidityCheck())"
                                            (click)="addPartnerForm()" class="ui-button atbt"></button>
                                        <button *ngIf="isEdit" pButton type="button" label="Update"
                                            [disabled]="!(!PartnerForm.invalid && !dropDownValidityCheck())"
                                            (click)="editPartnerForm()" class="ui-button atbt"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-tabPanel>
                <!-- Partner tab End here -->

                <!--Address Tab Start here-->
                <p-tabPanel header="Address" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <!-- <button (click)="openDialogForaddAddress()" pButton icon="pi pi-fw pi-plus"
                                label="Add New"></button> -->
                        </div>
                        <div class="p-col-12">
                            <p-table #AddressSerach [value]="partnerAdressData" [paginator]="false" [rows]="10"
                                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                                [globalFilterFields]="[
                              'sAddType','sAdd1','sAdd2','sStateName','sCityName','sLandmark','iStatusID'
                            ]">
                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search"
                                            (input)="AddressSerach.filterGlobal($event.target.value, 'contains')"
                                            style="width:250px;">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Address Type</th>
                                        <th>Address 1</th>
                                        <th>Address 2</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Landmark</th>
                                        <th>Tel No.1</th>
                                        <th>Tel No.2</th>
                                        <th>Fax</th>
                                        <th>Status</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-address>
                                    <tr>
                                        <td>{{address.sAddType}}</td>
                                        <td>{{address.sAdd1}}</td>
                                        <td>{{address.sAdd2}}</td>
                                        <td>{{address.sStateName}}</td>
                                        <td>{{address.sCityName}}</td>
                                        <td>{{address.sLandmark}}</td>
                                        <td>{{address.sTelNo1}}</td>
                                        <td>{{address.sTelNo2}}</td>
                                        <td>{{address.sFaxNo}}</td>
                                        <td style="text-align: center;">
                                            <span *ngIf="address.iStatusID == 1"
                                                class="badge badge--success badge--inline badge--pill">
                                                {{address.sStatusName}}
                                            </span>
                                            <span *ngIf="address.iStatusID == 2"
                                                class="badge badge--warning badge--inline badge--pill">
                                                {{address.sStatusName}}
                                            </span>
                                        </td>
                                        <!-- <td><button pButton type="button" class="ui-button-success"
                                                (click)="editPartnerAddress(address.iPartnerAddID)" icon="pi pi-pencil"
                                                style="margin-right: .5em"></button>
                                            <button pButton type="button" class="ui-button-danger"
                                                (click)="deletePartnerAddress(address.iPartnerAddID)"
                                                icon="pi pi-trash"></button></td> -->
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Address tab End here -->

                <!--Contact Tab Start here-->
                <p-tabPanel header="Contact" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForaddContact()" pButton icon="pi pi-fw pi-plus"
                                label="Add / Edit"></button>
                        </div>
                        <div class="p-col-12">
                            <p-table [value]="contact">
                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container text-left" style="width:250px;">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Designation</th>
                                        <th>Email ID</th>
                                        <th>Partner Address</th>
                                        <th>Mobile No.</th>
                                        <th>Contact No.</th>
                                        <th>Direct No.</th>
                                        <th>Fax No.</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-contact>
                                    <tr>
                                        <td>{{contact.sFullName}}</td>
                                        <td>{{contact.sDesignation}}</td>
                                        <td>{{contact.sEmailID}}</td>
                                        <td>{{contact.sPartnerName}}</td>
                                        <td>{{contact.sMobileNo}}</td>
                                        <td>{{contact.sContactNo}}</td>
                                        <td>{{contact.sDirectNo}}</td>
                                        <td>{{contact.sFaxNo}}</td>
                                        <td> <span *ngIf="contact.iStatusID == 1"
                                                class="badge badge--success badge--inline badge--pill">
                                                {{contact.sStatusName}}
                                            </span>
                                            <span *ngIf="contact.iStatusID == 2"
                                                class="badge badge--warning badge--inline badge--pill">
                                                {{contact.sStatusName}}
                                            </span>
                                            <span *ngIf="contact.iStatusID == 3"
                                                class="badge badge--danger badge--inline badge--pill">
                                                {{contact.sStatusName}}
                                            </span>
                                        </td>
                                        <td>
                                            <button pButton type="button" class="ui-button-success"
                                                (click)="openDialogForeditContact(contact)" icon="pi pi-pencil"
                                                style="margin-right: .5em"></button>
                                            <button pButton type="button"
                                                (click)="deletepartnerContact(contact.iPartnerContactID)"
                                                class="ui-button-danger" icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Contact tab End here -->

                <!-- Bank tab Start here -->
                <p-tabPanel header="Bank" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForBank()" pButton icon="pi pi-fw pi-plus"
                                label="Add New"></button>
                        </div>
                        <div class="p-col-12">
                            <p-table #searchBank [value]="bankData" [rows]="10" [showCurrentPageReport]="true"
                                [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0" [globalFilterFields]="[
                              'sIFSC',
                              'sBankName',
                              'sAccountNo',
                              'sShortCode',
                              'sBankBranch',
                              'sStatusName'
                            ]">
                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="
                                      searchBank.filterGlobal($event.target.value, 'contains')
                                    " style="width: 250px;" />
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Bank Name</th>
                                        <th>Short Code</th>
                                        <th>Account No.</th>
                                        <th>IFSC</th>
                                        <th>Bank Branch</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-bank>
                                    <tr>
                                        <td>{{ bank.sBankName }}</td>
                                        <td>{{ bank.sShortCode }}</td>
                                        <td>{{ bank.sAccountNo }}</td>
                                        <td>{{ bank.sIFSC }}</td>
                                        <td>{{ bank.sBankBranch }}</td>
                                        <td>
                                            <span *ngIf="bank.iStatusID == 1"
                                                class="badge badge--success badge--inline badge--pill">
                                                {{bank.sStatusName}}
                                            </span>
                                            <span *ngIf="bank.iStatusID == 2"
                                                class="badge badge--warning badge--inline badge--pill">
                                                {{bank.sStatusName}}
                                            </span>
                                        </td>
                                        <td>
                                            <button pButton type="button" class="ui-button-success" icon="pi pi-pencil"
                                                style="margin-right: 0.5em;" (click)="updateBank(bank)"></button>
                                            <button pButton type="button" class="ui-button-danger" icon="pi pi-trash"
                                                (click)="deleteBank(bank)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- Bank tab End here -->

                <!--GST Tab Start here-->
                <p-tabPanel header="GST" [disabled]="tabDisabled">
                    <div class="p-grid ui-fluid p-justify-end">
                        <div class="p-col-1 text-center mt-1">
                            <button (click)="openDialogForGST()" pButton icon="pi pi-fw pi-plus"
                                label="Add New"></button>
                        </div>
                        <div class="p-col-12">
                            <p-table [value]="gst" #searchGST [globalFilterFields]="['sGST','sStateName']">
                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container text-left">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="
                                          searchGST.filterGlobal($event.target.value, 'contains')
                                        " style="width: 250px;" />
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>State</th>
                                        <th>GST</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-gst>
                                    <tr>
                                        <td>{{gst.sStateName}}</td>
                                        <td>{{gst.sGST}}</td>
                                        <td>
                                            <button pButton type="button" (click)="editDialogForGST(gst)"
                                                class="ui-button-success mr-1" icon="pi pi-pencil"></button>
                                            <button pButton type="button" (click)="deletesupgst(gst.iPSGID)"
                                                class="ui-button-danger" icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <!-- GST tab End here -->

                <!--Warehouse Mapping Tab Start here-->
                <p-tabPanel header="Warehouse Mapping" [disabled]="tabDisabled">
                    <div class="card card-body">
                        <div class="p-grid ui-fluid">
                            <div class="p-col-12 p-md-8 p-lg-6">
                                <div class="p-grid timeline-content form-group">
                                    <div class="p-col-4 p-md-4 p-lg-4 mb-3">
                                        <label for="country">Country</label>
                                        <p-dropdown class="ml-2" (onChange)="countryDropdownChange($event)"
                                            [options]="countryValue" optionLabel="sLocName"
                                            [(ngModel)]="selectedCountry"></p-dropdown>
                                    </div>
                                    <div class="p-col-4 p-md-4 p-lg-4 mb-3">
                                        <label for="state">State</label>
                                        <p-dropdown class="ml-2" (onChange)="stateDropdownChange($event)"
                                            [options]="stateValue" optionLabel="sLocName" [(ngModel)]="selectedState"
                                            [disabled]="stateDisable"></p-dropdown>
                                    </div>
                                    <div class="p-col-4 p-md-4 p-lg-4 mb-3">
                                        <label for="city">City</label>
                                        <p-dropdown class="ml-2" (onChange)="cityDropdownChange($event)"
                                            [options]="cityValue" optionLabel="sLocName" [(ngModel)]="selectedCity"
                                            [disabled]="cityDisable"></p-dropdown>
                                    </div>
                                    <!-- 
                                    <div class="p-col-4 p-md-4 p-lg-3 mb-3">
                                        <button pButton type="button" label="Get Address" (click)="getAddress()"
                                            class="ui-button" [disabled] = "getAddressDisable"></button>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                        <div class="p-grid ui-fluid">
                            <div class="p-col-6 p-lg-6">

                                <div class="p-grid form-group ui-fluid p-justify-end">
                                    <div class="p-col-12 p-lg-12">
                                        <p-table *ngIf="address" [value]="address" [(selection)]="Selectedvalue">
                                            <ng-template pTemplate="header">
                                                <tr>

                                                    <th>Address</th>
                                                    <th style="width: 9em">
                                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>

                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-address>
                                                <tr>

                                                    <td>{{address.sShortName}}</td>
                                                    <td>
                                                        <p-tableCheckbox [value]="address"></p-tableCheckbox>

                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="footer">
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="p-grid p-justify-end">

                                                            <div class="p-col-12 p-md-2 p-lg-2"><button pButton
                                                                    type="button" (click)="saveAddress()" label="Save"
                                                                    class="ui-button"
                                                                    [disabled]="!Selectedvalue.length"></button></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                            <!-- Left Side End here -->

                            <!-- Right Side Start here -->
                            <div class="p-col-6 p-lg-6 p-0">

                                <div *ngIf="address" class="card download-files">
                                    <div class="p-grid p-nogutter">
                                        <div class="p-col-12 title pt-1 text-center">
                                            <h2>Selected Address</h2>
                                        </div>
                                    </div>
                                    <ul>
                                        <li *ngFor="let address of Selectedvalue">
                                            <div class="p-grid list-item">
                                                <div class="p-col-2 icon">
                                                    <i class="pi pi-circle-on" style="font-size: 0.5em"></i>
                                                </div>
                                                <div class="p-col-10 file-name">
                                                    <h2 class="name">{{address.sShortName}}</h2>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            <!-- Right Side End here -->



                        </div>



                    </div>
                </p-tabPanel>
                <!--Warehouse Mapping tab End here-->


                <!--Area Mapping Tab Start here-->
                <p-tabPanel header="Area Mapping" [disabled]="tabDisabled">

                </p-tabPanel>
                <!--Area Mapping tab End here-->

            </p-tabView>
        </div>
    </div>
</div>