<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <div class="p-grid ui-fluid vertical-container">
                <div class="p-col p-col-align-start">
                    <h1 class="mt-2">Product</h1>
                </div>
                <div class="p-col-1 p-col-align-end text-center">
                    <button routerLink="/product/new-product" pButton icon="pi pi-fw pi-plus" label="Add New"></button>
                </div>
                <div class="p-col-12">
                    <p-table #dt [value]="product" [resizableColumns]="true" [rowHover]="true" [paginator]="false"
                        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0"
                        [globalFilterFields]="['sPrdName','sProducerName','sVariant','sUnitName','sFoodCulture','sProducerName']">
                        <ng-template pTemplate="caption">
                            <div class="ui-table-globalfilter-container text-left">
                                <input type="text" pInputText size="50" placeholder="Search"
                                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3em">#</th>
                                <th>Product Name</th>
                                <th>Variant</th>
                                <th>Unit</th>
                                <th>Food Culture</th>
                                <th>Producer</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData let-columns="columns"
                            let-product>
                            <tr>
                                <td class="ui-resizable-column">{{ rowIndex+ 1}}</td>
                                <td class="ui-resizable-column">{{product.sPrdName}}</td>
                                <td class="ui-resizable-column">{{product.sVariant}}</td>
                                <td class="ui-resizable-column">{{product.sUnitName}}</td>
                                <td class="ui-resizable-column">
                                    <span *ngFor="let dt of product.sFoodCulture">
                                        {{dt.sFCName}}
                                    </span>
                                </td>
                                <td class="ui-resizable-column">{{product.sProducerName}}</td>
                                <td class="ui-resizable-column">
                                    <span *ngIf="product.iStatusID == 1"
                                        class="badge badge--success badge--inline badge--pill">
                                        {{product.sStatusName}}
                                    </span>
                                    <span *ngIf="product.iStatusID == 2"
                                        class="badge badge--warning badge--inline badge--pill">
                                        {{product.sStatusName}}
                                    </span>
                                    <span *ngIf="product.iStatusID == 3"
                                        class="badge badge--danger badge--inline badge--pill">
                                        {{product.sStatusName}}
                                    </span>
                                    <span *ngIf="product.iStatusID == 4"
                                        class="badge badge--success badge--inline badge--pill">
                                        {{product.sStatusName}}
                                    </span>
                                    <span *ngIf="product.iStatusID == 5"
                                        class="badge badge--warning badge--inline badge--pill">
                                        {{product.sStatusName}}
                                    </span>
                                    <span *ngIf="product.iStatusID == 6"
                                        class="badge badge--danger badge--inline badge--pill">
                                        {{product.sStatusName}}
                                    </span>
                                </td>
                                <td class="ui-resizable-column">
                                    <button pButton type="button" class="ui-button-success mr-2"
                                        (click)="editProduct(product.iPrdID)" icon="pi pi-pencil" title="Edit"></button>
                                    <button pButton type="button" class="ui-button-danger mr-2"
                                        (click)="deleteProduct(product.iPrdID)" icon="pi pi-trash"
                                        title="Delete"></button>
                                    <button pButton type="button" class="ui-button-success"
                                        icon="pi pi-arrow-circle-right" title="Send for approval"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="noRecordsFound" *ngIf="!product.length">{{noRecordFound}}</div>
            </div>
        </div>
    </div>
</div>