<form [formGroup]="infoForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
    <div class="p-grid ui-fluid">
        <div class="p-col-12">
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="prName">Product Info</label>
                    <input id="prInfo1" class="mb-2" type="text" pInputText placeholder="Info 1"
                        formControlName="sInfo1">

                    <input id="prInfo2" class="mb-2" type="text" pInputText placeholder="Info 2"
                        formControlName="sInfo2">

                    <input id="prInfo3" class="mb-2" type="text" pInputText placeholder="Info 3"
                        formControlName="sInfo3">

                    <input id="prInfo4" class="mb-2" type="text" pInputText placeholder="Info 4"
                        formControlName="sInfo4">

                    <input id="prInfo5" class="mb-2" type="text" pInputText placeholder="Info 5"
                        formControlName="sInfo5">

                    <input id="prInfo6" class="mb-2" type="text" pInputText placeholder="Info 6"
                        formControlName="sInfo6">

                    <input id="prInfo7" class="mb-2" type="text" pInputText placeholder="Info 7"
                        formControlName="sInfo7">

                    <input id="prInfo8" class="mb-2" type="text" pInputText placeholder="Info 8"
                        formControlName="sInfo8">

                    <input id="prInfo9" class="mb-2" type="text" pInputText placeholder="Info 9"
                        formControlName="sInfo9">

                    <input id="prInfo10" class="mb-2" type="text" pInputText placeholder="Info 10"
                        formControlName="sInfo10">

                    <input id="prInfo11" class="mb-2" type="text" pInputText placeholder="Info 11"
                        formControlName="sInfo11">

                    <input id="prInfo12" class="mb-2" type="text" pInputText placeholder="Info 12"
                        formControlName="sInfo12">
                </div>
            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" class="ui-button-light atbt mr-2"
                        (click)="onClose()"></button>
                    <button pButton type="submit" label="Save" class="ui-button atbt"></button>
                </div>
            </div>
        </div>
    </div>
</form>