
    <div class="p-grid ui-fluid">
        <div class="p-col-12"> 
    
            <div class="p-grid form-group">
               
                <div class="p-col-12">
                    <label for="prName">Product Info</label>

                    <input id="prInfo1"  class="mb-2" type="text" pInputText placeholder="Info1">
                
                    <input id="prInfo2"  class="mb-2" type="text" pInputText placeholder="Info2">

                    <input id="prInfo3"  class="mb-2" type="text" pInputText placeholder="Info3">

                    <input id="prInfo4"  class="mb-2" type="text" pInputText placeholder="Info4">

                    <input id="prInfo5"  class="mb-2" type="text" pInputText placeholder="Info5">
                
                    <input id="prInfo6"  class="mb-2" type="text" pInputText placeholder="Info6">

                    <input id="prInfo7"  class="mb-2" type="text" pInputText placeholder="Info7">
                    
                    <input id="prInfo8"  class="mb-2" type="text" pInputText placeholder="Info8">

                    <input id="prInfo9"  class="mb-2" type="text" pInputText placeholder="Info9">
                
                    <input id="prInfo10"  class="mb-2" type="text" pInputText placeholder="Info10">

                    <input id="prInfo11"  class="mb-2" type="text" pInputText placeholder="Info11">
                    
                    <input id="prInfo12"  class="mb-2" type="text" pInputText placeholder="Info12">
                </div>
            </div>

            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>

            <div class="p-grid form-group ui-fluid">
                <div class="p-md-6 p-lg-6"></div>
                <div class="p-col-12 p-md-3 p-lg-3">
                    <button pButton type="button" label="Cancel" style="margin-bottom:10px" class="ui-button-light"></button>
                </div>
                 <div class="p-col-12 p-md-3 p-lg-3">
                    <button pButton type="button" label="Save" style="margin-bottom:10px" class="ui-button"></button>
                </div>
            </div>

        </div>
       
    </div>