<p-confirmDialog header="Confirmation" icon="pi pi-info" [style]="{width: '425px'}"
    rejectButtonStyleClass="ui-button-secondary"></p-confirmDialog>
<div class="p-grid ui-fluid">
    <div class="p-col-4">
        <form [formGroup]="productForm" autocomplete="off">

            <div class="p-grid">
                <div class="p-col-12">
                    <div class="card download-files p-3 mb-2">
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12 p-lg-12">
                                <div class="p-grid">
                                    <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                        <div class="card bg-success p-2">Product : <strong>{{productName}}
                                            </strong></div>
                                    </div>

                                </div>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <label for="amount">Amount</label>
                                <input id="amount" formControlName="iPurchaseAmt" type="text" pInputText>
                                <p-message severity="error"
                                    [text]="productForm.controls['iPurchaseAmt'].errors['required'] ? 'This field is required' :  productForm.controls['iPurchaseAmt'].errors['pattern'] ? 'Please Enter Valid Amount.' : '' "
                                    *ngIf="!productForm.controls['iPurchaseAmt'].valid && productForm.controls['iPurchaseAmt'].dirty">
                                </p-message>
                            </div>

                            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <label for="sDate">Start Date</label>
                                <p-calendar formControlName="sStartDate" [minDate]="minDate" dateFormat="dd-mm-yy">
                                </p-calendar>
                                <p-message severity="error"
                                    [text]="productForm.controls['sStartDate'].errors['required'] ? 'This Field is required' : ''"
                                    *ngIf="!productForm.controls['sStartDate'].valid && productForm.controls['sStartDate'].dirty">
                                </p-message>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12 mb-2">
                                <label for="eDate">End Date</label>
                                <p-calendar id="endDate" formControlName="sEndDate" [minDate]="minDate"
                                    dateFormat="dd-mm-yy" (onSelect)="dateChange()">
                                </p-calendar>
                                <p-message severity="error"
                                    [text]="productForm.controls['sEndDate'].errors['required'] ? 'This Field is required' : ''"
                                    *ngIf="!productForm.controls['sEndDate'].valid && productForm.controls['sEndDate'].dirty">
                                </p-message>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
        <div class="p-grid form-group ui-fluid p-justify-end mt-1">
            <div class="p-col-12 p-md-2 p-lg-12 text-right">
                <button pButton type="button" (click)="closeDialog()" label="Cancel"
                    class="ui-button-light atbt mr-2 mb-2"></button>
                <button *ngIf="!flag" pButton type="submit" label="Save" (click)="addProductPrice()"
                    [disabled]="!productForm.valid" routerLink="/purchase-order/product-purchase-price"
                    class="ui-button atbt mb-2"></button>
                <button *ngIf="flag" pButton type="submit" label="Update" (click)="editProductPrice()"
                    [disabled]="!productForm.valid" routerLink="/purchase-order/product-purchase-price"
                    class="ui-button atbt mb-2"></button>
            </div>

        </div>
    </div>

    <div class="p-col-8">
        <p-table [value]="addDetails">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3em">#</th>
                    <th>Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowIndex="rowIndex" let-addDetails>
                <tr>
                    <td>{{rowIndex + 1}}</td>
                    <td>{{addDetails.iPurchaseAmt}}</td>
                    <td>{{addDetails.sStartDate| date: 'dd-MM-yyyy'}}</td>
                    <td>{{addDetails.sEndDate | date: 'dd-MM-yyyy'}}</td>
                    <td>
                        <span class="badge badge--success badge--inline badge--pill">
                            {{addDetails.sStatusName}}
                        </span>
                    </td>
                    <td><button pButton type="button"
                            *ngIf="today_con_date < (addDetails.sStartDate | date: 'dd-MM-yyyy')"
                            class="ui-button-success mr-1" (click)="editOne(rowIndex)" icon="pi pi-pencil"></button>
                        <button *ngIf="addDetails.iStatusID == 1" pButton type="button" class="ui-button-danger"
                            (click)="deletePprice(addDetails)" icon="pi pi-trash"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>


</div>