<form [formGroup]="GSTSubmit" (ngSubmit)="onSubmit()">

    <div class="p-grid ui-fluid">
        <div class="p-col-12">

            <div class="p-grid form-group">

                <div class="p-col-12">
                    <label for="state">State</label>
                    <p-dropdown id="state" class="form-control" [options]="gstState" formControlName="state"
                        optionLabel="sLocName" placeholder="Select" required="true" [(ngModel)]="selectedstatus">
                    </p-dropdown>
                    <span class="text-danger">
                        <span *ngIf="GSTSubmit.get('state').touched  && (selectedstatus.iLocationID == 0 ||
                        GSTSubmit.get('state').hasError('required'))">This field is required</span>

                    </span>
                </div>

                <div class="p-col-12" [ngClass]="{'has-error': GSTSubmit.get('gst').errors &&
                (GSTSubmit.get('gst').touched || GSTSubmit.get('gst').dirty)}">
                    <label for="gst">GST</label>
                    <input id="gst" class="form-control" formControlName="gst" type="text" pInputText>
                    <span *ngIf="GSTSubmit.get('gst').errors &&
                    (GSTSubmit.get('gst').touched || GSTSubmit.get('gst').dirty)">
                        <span *ngIf="GSTSubmit.get('gst').errors.required">
                            This Field is Required
                        </span>
                    </span>
                </div>

            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" class="ui-button-light atbt mr-2" (click)="close()"></button>
                
                    <button pButton type="submit" label="Save" [disabled]="!GSTSubmit.valid" class="ui-button atbt"></button>
                </div>
            </div>

        </div>

    </div>
</form>