<form [formGroup]="GSTSubmit" autocomplete="off">

    <div class="p-grid ui-fluid">
        <div class="p-col-12">

            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="country">Country</label>
                    <p-dropdown id="country" class="form-control" [options]="countryValue"
                        formControlName="sCountryName" optionLabel="sLocName" placeholder="Select"
                        (onChange)="countryDropdownChange($event)" [(ngModel)]="selectedCountry">
                    </p-dropdown>
                    <p-message severity="error" text="select country is required"
                        *ngIf="GSTSubmit.controls['sCountryName'].touched && (selectedCountry.iLocationID=='' || GSTSubmit.controls['sCountryName'].hasError('required'))">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <label for="state">State</label>
                    <p-dropdown id="state" class="form-control" [options]="stateValue" formControlName="sStateName"
                        optionLabel="sLocName" placeholder="Select" [(ngModel)]="selectedState"
                        (click)="getStateCode()">
                    </p-dropdown>
                    <p-message severity="error" text="select State is required"
                        *ngIf="GSTSubmit.controls['sStateName'].touched && (selectedState.iLocationID=='' || GSTSubmit.controls['sStateName'].hasError('required'))">
                    </p-message>
                </div>

                <div class="p-col-12">
                    <label for="gst">GST</label>
                    <input id="gst" type="text" formControlName="sGST" pInputText>
                    <p-message severity="error"
                        [text]="GSTSubmit.controls['sGST'].errors['required'] ? 'This Field is required' : GSTSubmit.controls['sGST'].errors"
                        *ngIf="!GSTSubmit.controls['sGST'].valid && GSTSubmit.controls['sGST'].dirty">
                    </p-message>
                </div>

            </div>
            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
            <div class="p-grid form-group ui-fluid">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" class="ui-button-light atbt mr-2"
                        (click)="close()"></button>

                    <button pButton type="button" label="Save" *ngIf="!isEdit" (click)="addGst()"
                        [disabled]="!(!GSTSubmit.invalid && !dropDownValidityCheck())" class="ui-button atbt"></button>
                    <button pButton type="button" label="Update" *ngIf="isEdit" (click)="editGst()"
                        [disabled]="!(!GSTSubmit.invalid && !dropDownValidityCheck())" class="ui-button atbt"></button>
                </div>
            </div>

        </div>

    </div>
</form>