<form [formGroup]="desigForm" (ngSubmit)="onSubmit()">
  <div class="p-grid ui-fluid">
    <div class="p-col-12">
      <div class="p-grid form-group">
        <div class="p-col-12">
          <label for="designationname">Designation Name</label>
          <input id="designationname" type="text" pInputText formControlName="desig_name" />
          <span class="text-danger" *ngIf="desigForm.get('desig_name').errors 
          && (desigForm.get('desig_name').touched|| desigForm.get('desig_name').dirty)">
            <span *ngIf="desigForm.get('desig_name').errors.pattern">Numeric values not allowed</span>

            <span *ngIf="desigForm.get('desig_name').errors.required">This field is required</span>
          </span>
        </div>

        <div class="p-col-12">
          <label for="designationlevel">Designation Level</label>
          <input id="designationlevel" type="number" pInputText formControlName="desig_level" />
          <span class="text-danger" *ngIf="desigForm.get('desig_level').errors 
          && (desigForm.get('desig_level').touched|| desigForm.get('desig_level').dirty)">
            <span *ngIf="desigForm.get('desig_level').errors.required">This field is required</span>
          </span>
        </div>

        <div class="p-col-12">
          <div class="separator separator--border-dashed separator--space-sm separator--portlet-fit"></div>
        </div>

        <div class="p-col-12">
          <label for="status">Status</label>
          <p-dropdown [options]="statusData" optionLabel="sKVValue" formControlName="status"></p-dropdown>
          <span class="text-danger" *ngIf="desigForm.get('status').errors 
          && (desigForm.get('status').touched|| desigForm.get('status').dirty)">
            <span *ngIf="desigForm.get('status').errors.required">This field is required</span>
          </span>
        </div>
      </div>
      <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
      <div class="p-grid form-group ui-fluid">
        <div class="p-md-6 p-lg-6"></div>
        <div class="p-col-12 p-md-3 p-lg-3">
          <button pButton type="button" label="Cancel" style="margin-bottom: 10px;" class="ui-button-light"
            (click)="onClose()"></button>
        </div>
        <div class="p-col-12 p-md-3 p-lg-3">
          <button pButton type="submit" label="Save" style="margin-bottom: 10px;" class="ui-button"
            [disabled]="!desigForm.valid"></button>
        </div>
      </div>
    </div>
  </div>
</form>