<div class="p-grid ui-fluid">
    <div class="p-col-12"> 
       
        <div class="p-grid form-group">
            <div class="p-col-12">
                <label for="website">Website</label>
                <input id="website" type="text" pInputText>
            </div>
            <div class="p-col-12">
            <label for="telNo1">Tel No.1</label>
                <input id="telNo1" type="text" pInputText>
            </div>
            <div class="p-col-12">
            <label for="telNo2">Tel No.2</label>
                <input id="telNo2" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <label for="fax">Fax</label>
                <input id="fax" type="text" pInputText>
            </div>
        </div>

        <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>
        <div class="p-grid form-group ui-fluid">
            <div class="p-md-6 p-lg-6"></div>
            <div class="p-col-12 p-md-3 p-lg-3">
                <button pButton type="button" label="Cancel" style="margin-bottom:10px" class="ui-button-light"></button>
            </div>
             <div class="p-col-12 p-md-3 p-lg-3">
                <button pButton type="button" label="Save" style="margin-bottom:10px" class="ui-button"></button>
            </div>
        </div>
    </div>
</div>
