
    <div class="p-grid ui-fluid">
        <div class="p-col-12"> 
    
            <div class="p-grid form-group">
               
                <div class="p-col-12">
                    <label for="prName">Product Name</label>
                    <p-dropdown id="prName" [options]="prName" [(ngModel)]="selectedprName"></p-dropdown>
                </div>

                <div class="p-col-12">
                    <label for="desc">Description</label>
                    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="desc"></textarea>
                </div>
            </div>

            <div class="separator separator--border-solid separator--space-sm separator--portlet-fit"></div>

            <div class="p-grid form-group ui-fluid">
                <div class="p-col-12 p-md-12 p-lg-12 text-right">
                    <button pButton type="button" label="Cancel" style="margin-bottom:10px" class="ui-button-light atbt mr-2"></button>                
                    <button pButton type="button" label="Save" style="margin-bottom:10px" class="ui-button atbt"></button>
                </div>
            </div>

        </div>
       
    </div>